@namespace BrowserAPI.Test.Client

<div class="group">
    <h2>Console InProcess</h2>
    <div>
        <button data-testid="@BUTTON_ASSERT_STRING" @onclick="Assert_String">Assert_String</button>
        <button data-testid="@BUTTON_ASSERT" @onclick="Assert">Assert</button>
        <button data-testid="@BUTTON_CLEAR" @onclick="Clear">Clear</button>

        <button data-testid="@BUTTON_COUNT" @onclick="Count">Count</button>
        <button data-testid="@BUTTON_COUNT_LABEL" @onclick="Count_Label">Count_Label</button>
        <button data-testid="@BUTTON_COUNT_RESET" @onclick="CountReset">CountReset</button>
        <button data-testid="@BUTTON_COUNT_RESET_LABEL" @onclick="CountReset_Label">CountReset_Label</button>

        <button data-testid="@BUTTON_DEBUG_STRING" @onclick="Debug_String">Debug_String</button>
        <button data-testid="@BUTTON_DEBUG" @onclick="Debug">Debug</button>
        <button data-testid="@BUTTON_DIR" @onclick="Dir">Dir</button>
        <button data-testid="@BUTTON_DIRXML" @onclick="Dirxml">Dirxml</button>
        <button data-testid="@BUTTON_ERROR_STRING" @onclick="Error_String">Error_String</button>
        <button data-testid="@BUTTON_ERROR" @onclick="Error">Error</button>

        <button data-testid="@BUTTON_GROUP" @onclick="Group">Group</button>
        <button data-testid="@BUTTON_GROUP_LABEL" @onclick="Group_Label">Group_Label</button>
        <button data-testid="@BUTTON_GROUP_COLLAPSED" @onclick="GroupCollapsed">GroupCollapsed</button>
        <button data-testid="@BUTTON_GROUP_COLLAPSED_LABEL" @onclick="GroupCollapsed_Label">GroupCollapsed_Label</button>
        <button data-testid="@BUTTON_GROUP_END" @onclick="GroupEnd">GroupEnd</button>

        <button data-testid="@BUTTON_INFO_STRING" @onclick="Info_String">Info_String</button>
        <button data-testid="@BUTTON_INFO" @onclick="Info">Info</button>
        <button data-testid="@BUTTON_LOG_STRING" @onclick="Log_String">Log_String</button>
        <button data-testid="@BUTTON_LOG" @onclick="Log">Log</button>
        <button data-testid="@BUTTON_TABLE" @onclick="Table">Table</button>
        <button data-testid="@BUTTON_TABLE_COLUMNS" @onclick="Table_Columns">Table_Columns</button>

        <button data-testid="@BUTTON_TIME" @onclick="Time">Time</button>
        <button data-testid="@BUTTON_TIME_LABEL" @onclick="Time_Label">Time_Label</button>
        <button data-testid="@BUTTON_TIME_END" @onclick="TimeEnd">TimeEnd</button>
        <button data-testid="@BUTTON_TIME_END_LABEL" @onclick="TimeEnd_Label">TimeEnd_Label</button>
        <button data-testid="@BUTTON_TIME_LOG" @onclick="TimeLog">TimeLog</button>
        <button data-testid="@BUTTON_TIME_LOG_LABEL" @onclick="TimeLog_Label">TimeLog_Label</button>
        <button data-testid="@BUTTON_TIME_LOG_LABEL_DATA" @onclick="TimeLog_LabelData">TimeLog_LabelData</button>

        <button data-testid="@BUTTON_TRACE_STRING" @onclick="Trace_String">Trace_String</button>
        <button data-testid="@BUTTON_TRACE" @onclick="Trace">Trace</button>
        <button data-testid="@BUTTON_WARN_STRING" @onclick="Warn_String">Warn_String</button>
        <button data-testid="@BUTTON_WARN" @onclick="Warn">Warn</button>
    </div>
</div>
