@namespace BrowserAPI.Test.Client

<div class="group">
    <h2>Cookie Storage InProcess</h2>
    <div>
        <button data-testid="@BUTTON_GET_ALL_COOKIES" @onclick="GetAllCookies">GetAllCookies</button>
        <button data-testid="@BUTTON_GET_LENGTH" @onclick="GetLength">GetLength</button>
        <button data-testid="@BUTTON_KEY" @onclick="Key">Key</button>
        <button data-testid="@BUTTON_GET_COOKIE" @onclick="GetCookie">GetCookie</button>
        <button data-testid="@BUTTON_SET_COOKIE" @onclick="SetCookie">SetCookie</button>
        <button data-testid="@BUTTON_REMOVE_COOKIE" @onclick="RemoveCookie">RemoveCookie</button>
        <button data-testid="@BUTTON_CLEAR" @onclick="Clear">Clear</button>
    </div>
    <label data-testid="@LABEL_OUTPUT">@labelOutput</label>
</div>
