@namespace BrowserAPI.Test.Client

<div class="group">
    <h2>Cookie Storage</h2>
    <div>
        <button data-testid="@DATA_TESTID_GET_ALL_COOKIES_PROPERTY" @onclick="GetAllCookies_Property">GetAllCookies_Property</button>
        <button data-testid="@DATA_TESTID_GET_ALL_COOKIES_METHOD" @onclick="GetAllCookies_Method">GetAllCookies_Method</button>
        <button data-testid="@DATA_TESTID_GET_LENGTH_PROPERTY" @onclick="GetLength_Property">GetLength_Property</button>
        <button data-testid="@DATA_TESTID_GET_LENGTH_METHOD" @onclick="GetLength_Method">GetLength_Method</button>
        <button data-testid="@DATA_TESTID_KEY" @onclick="Key">Key</button>
        <button data-testid="@DATA_TESTID_GET_COOKIE" @onclick="GetCookie">GetCookie</button>
        <button data-testid="@DATA_TESTID_SET_COOKIE" @onclick="SetCookie">SetCookie</button>
        <button data-testid="@DATA_TESTID_REMOVE_COOKIE" @onclick="RemoveCookie">RemoveCookie</button>
        <button data-testid="@DATA_TESTID_CLEAR" @onclick="Clear">Clear</button>

        <button data-testid="@DATA_TESTID_GET_ALL_COOKIES_INPROCESS" @onclick="GetAllCookies_InProcess">GetAllCookies_InProcess</button>
        <button data-testid="@DATA_TESTID_GET_LENGTH_INPROCESS" @onclick="GetLength_InProcess">GetLength_InProcess</button>
        <button data-testid="@DATA_TESTID_KEY_INPROCESS" @onclick="Key_InProcess">Key_InProcess</button>
        <button data-testid="@DATA_TESTID_GET_COOKIE_INPROCESS" @onclick="GetCookie_InProcess">GetCookie_InProcess</button>
        <button data-testid="@DATA_TESTID_SET_COOKIE_INPROCESS" @onclick="SetCookie_InProcess">SetCookie_InProcess</button>
        <button data-testid="@DATA_TESTID_REMOVE_COOKIE_INPROCESS" @onclick="RemoveCookie_InProcess">RemoveCookie_InProcess</button>
        <button data-testid="@DATA_TESTID_CLEAR_INPROCESS" @onclick="Clear_InProcess">Clear_InProcess</button>
    </div>
    <label data-testid="@DATA_TESTID_OUTPUT">@labelOutput</label>
</div>
