@namespace BrowserAPI.Test.Client

<div class="group">
    <h2>Dialog</h2>
    <div>
        <button data-testid="@BUTTON_GET_OPEN_PROPERTY" @onclick="GetOpen_Property">GetOpen_Property</button>
        <button data-testid="@BUTTON_GET_OPEN_METHOD" @onclick="GetOpen_Method">GetOpen_Method</button>
        <button data-testid="@BUTTON_SET_OPEN" @onclick="SetOpen">SetOpen</button>

        <button data-testid="@BUTTON_GET_RETURN_VALUE_PROPERTY" @onclick="GetReturnValue_Property">GetReturnValue_Property</button>
        <button data-testid="@BUTTON_GET_RETURN_VALUE_METHOD" @onclick="GetReturnValue_Method">GetReturnValue_Method</button>
        <button data-testid="@BUTTON_SET_RETURN_VALUE" @onclick="SetReturnValue">SetReturnValue</button>

        <button data-testid="@BUTTON_SHOW" @onclick="Show">Show</button>
        <button data-testid="@BUTTON_SHOW_MODAL" @onclick="ShowModal">ShowModal</button>
        <button data-testid="@BUTTON_CLOSE" @onclick="Close">Close</button>
        <button data-testid="@BUTTON_CLOSE_RETURN_VALUE" @onclick="CloseReturnValue">CloseReturnValue</button>

        <button data-testid="@BUTTON_REGISTER_ON_CLOSE" @onclick="RegisterOnClose">RegisterOnClose</button>
        <button data-testid="@BUTTON_REGISTER_ON_CANCEL" @onclick="RegisterOnCancel">RegisterOnCancel</button>
    </div>
    <label data-testid="@LABEL_OUTPUT">@labelOutput</label>
    <dialog data-testid="@DIALOG_ELEMENT" @ref="dialogElement">
        <p style="margin: 0;">placeholder text in dialog</p>
    </dialog>
</div>
