@namespace BrowserAPI.Test.Client

<div class="group">
    <h2>Document</h2>
    <div>
        @* Properties - HTMLElement reference *@
        <button data-testid="@BUTTON_GET_DOCUMENT_ELEMENT" @onclick="GetDocumentElement">GetDocumentElement</button>
        <button data-testid="@BUTTON_GET_HEAD" @onclick="GetHead">GetHead</button>
        <button data-testid="@BUTTON_GET_BODY" @onclick="GetBody">GetBody</button>
        <button data-testid="@BUTTON_SET_BODY" @onclick="SetBody">SetBody</button>
        <button data-testid="@BUTTON_GET_SCROLLING_ELEMENT" @onclick="GetScrollingElement">GetScrollingElement</button>

        @* Properties - HTMLElement Collection *@
        <button data-testid="@BUTTON_GET_EMBEDS_PROPERTY" @onclick="GetEmbeds_Property">GetEmbeds_Property</button>
        <button data-testid="@BUTTON_GET_EMBEDS_METHOD" @onclick="GetEmbeds_Method">GetEmbeds_Method</button>
        <button data-testid="@BUTTON_GET_FORMS_PROPERTY" @onclick="GetForms_Property">GetForms_Property</button>
        <button data-testid="@BUTTON_GET_FORMS_METHOD" @onclick="GetForms_Method">GetForms_Method</button>
        <button data-testid="@BUTTON_GET_IMAGES_PROPERTY" @onclick="GetImages_Property">GetImages_Property</button>
        <button data-testid="@BUTTON_GET_IMAGES_METHOD" @onclick="GetImages_Method">GetImages_Method</button>
        <button data-testid="@BUTTON_GET_LINKS_PROPERTY" @onclick="GetLinks_Property">GetLinks_Property</button>
        <button data-testid="@BUTTON_GET_LINKS_METHOD" @onclick="GetLinks_Method">GetLinks_Method</button>
        <button data-testid="@BUTTON_GET_PLUGINS_PROPERTY" @onclick="GetPlugins_Property">GetPlugins_Property</button>
        <button data-testid="@BUTTON_GET_PLUGINS_METHOD" @onclick="GetPlugins_Method">GetPlugins_Method</button>
        <button data-testid="@BUTTON_GET_SCRIPTS_PROPERTY" @onclick="GetScripts_Property">GetScripts_Property</button>
        <button data-testid="@BUTTON_GET_SCRIPTS_METHOD" @onclick="GetScripts_Method">GetScripts_Method</button>

        @* Properties - HTMLElement situational *@
        <button data-testid="@BUTTON_GET_ACTIVE_ELEMENT_PROPERTY" @onclick="GetActiveElement_Property">GetActiveElement_Property</button>
        <button data-testid="@BUTTON_GET_ACTIVE_ELEMENT_METHOD" @onclick="GetActiveElement_Method">GetActiveElement_Method</button>
        <button data-testid="@BUTTON_GET_CURRENT_SCRIPT_PROPERTY" @onclick="GetCurrentScript_Property">GetCurrentScript_Property</button>
        <button data-testid="@BUTTON_GET_CURRENT_SCRIPT_METHOD" @onclick="GetCurrentScript_Method">GetCurrentScript_Method</button>
        <button data-testid="@BUTTON_GET_FULLSCREEN_ELEMENT_PROPERTY" @onclick="GetFullscreenElement_Property">GetFullscreenElement_Property</button>
        <button data-testid="@BUTTON_GET_FULLSCREEN_ELEMENT_METHOD" @onclick="GetFullscreenElement_Method">GetFullscreenElement_Method</button>
        <button data-testid="@BUTTON_GET_PICTURE_IN_PICTURE_ELEMENT_PROPERTY" @onclick="GetPictureInPictureElement_Property">GetPictureInPictureElement_Property</button>
        <button data-testid="@BUTTON_GET_PICTURE_IN_PICTURE_ELEMENT_METHOD" @onclick="GetPictureInPictureElement_Method">GetPictureInPictureElement_Method</button>
        <button data-testid="@BUTTON_GET_POINTER_LOCK_ELEMENT_PROPERTY" @onclick="GetPointerLockElement_Property">GetPointerLockElement_Property</button>
        <button data-testid="@BUTTON_GET_POINTER_LOCK_ELEMENT_METHOD" @onclick="GetPointerLockElement_Method">GetPointerLockElement_Method</button>

        @* Properties *@
        <button data-testid="@BUTTON_GET_CHARACTER_SET_PROPERTY" @onclick="GetCharacterSet_Property">GetCharacterSet_Property</button>
        <button data-testid="@BUTTON_GET_CHARACTER_SET_METHOD" @onclick="GetCharacterSet_Method">GetCharacterSet_Method</button>
        <button data-testid="@BUTTON_GET_COMPAT_MODE_PROPERTY" @onclick="GetCompatMode_Property">GetCompatMode_Property</button>
        <button data-testid="@BUTTON_GET_COMPAT_MODE_METHOD" @onclick="GetCompatMode_Method">GetCompatMode_Method</button>
        <button data-testid="@BUTTON_GET_CONTENT_TYPE_PROPERTY" @onclick="GetContentType_Property">GetContentType_Property</button>
        <button data-testid="@BUTTON_GET_CONTENT_TYPE_METHOD" @onclick="GetContentType_Method">GetContentType_Method</button>
        <button data-testid="@BUTTON_GET_DESIGN_MODE_PROPERTY" @onclick="GetDesignMode_Property">GetDesignMode_Property</button>
        <button data-testid="@BUTTON_GET_DESIGN_MODE_METHOD" @onclick="GetDesignMode_Method">GetDesignMode_Method</button>
        <button data-testid="@BUTTON_SET_DESIGN_MODE" @onclick="SetDesignMode">SetDesignMode</button>
        <button data-testid="@BUTTON_GET_DIR_PROPERTY" @onclick="GetDir_Property">GetDir_Property</button>
        <button data-testid="@BUTTON_GET_DIR_METHOD" @onclick="GetDir_Method">GetDir_Method</button>
        <button data-testid="@BUTTON_SET_DIR" @onclick="SetDir">SetDir</button>
        <button data-testid="@BUTTON_GET_DOCUMENT_URI_PROPERTY" @onclick="GetDocumentURI_Property">GetDocumentURI_Property</button>
        <button data-testid="@BUTTON_GET_DOCUMENT_URI_METHOD" @onclick="GetDocumentURI_Method">GetDocumentURI_Method</button>
        <button data-testid="@BUTTON_GET_FULLSCREEN_ENABLED_PROPERTY" @onclick="GetFullscreenEnabled_Property">GetFullscreenEnabled_Property</button>
        <button data-testid="@BUTTON_GET_FULLSCREEN_ENABLED_METHOD" @onclick="GetFullscreenEnabled_Method">GetFullscreenEnabled_Method</button>
        <button data-testid="@BUTTON_GET_HIDDEN_PROPERTY" @onclick="GetHidden_Property">GetHidden_Property</button>
        <button data-testid="@BUTTON_GET_HIDDEN_METHOD" @onclick="GetHidden_Method">GetHidden_Method</button>
        <button data-testid="@BUTTON_GET_LAST_MODIFIED_PROPERTY" @onclick="GetLastModified_Property">GetLastModified_Property</button>
        <button data-testid="@BUTTON_GET_LAST_MODIFIED_METHOD" @onclick="GetLastModified_Method">GetLastModified_Method</button>
        <button data-testid="@BUTTON_GET_PICTURE_IN_PICTURE_ENABLED_PROPERTY" @onclick="GetPictureInPictureEnabled_Property">GetPictureInPictureEnabled_Property</button>
        <button data-testid="@BUTTON_GET_PICTURE_IN_PICTURE_ENABLED_METHOD" @onclick="GetPictureInPictureEnabled_Method">GetPictureInPictureEnabled_Method</button>
        <button data-testid="@BUTTON_GET_READY_STATE_PROPERTY" @onclick="GetReadyState_Property">GetReadyState_Property</button>
        <button data-testid="@BUTTON_GET_READY_STATE_METHOD" @onclick="GetReadyState_Method">GetReadyState_Method</button>
        <button data-testid="@BUTTON_GET_REFERRER_PROPERTY" @onclick="GetReferrer_Property">GetReferrer_Property</button>
        <button data-testid="@BUTTON_GET_REFERRER_METHOD" @onclick="GetReferrer_Method">GetReferrer_Method</button>
        <button data-testid="@BUTTON_GET_TITLE_PROPERTY" @onclick="GetTitle_Property">GetTitle_Property</button>
        <button data-testid="@BUTTON_GET_TITLE_METHOD" @onclick="GetTitle_Method">GetTitle_Method</button>
        <button data-testid="@BUTTON_SET_TITLE" @onclick="SetTitle">SetTitle</button>
        <button data-testid="@BUTTON_GET_URL_PROPERTY" @onclick="GetURL_Property">GetURL_Property</button>
        <button data-testid="@BUTTON_GET_URL_METHOD" @onclick="GetURL_Method">GetURL_Method</button>
        <button data-testid="@BUTTON_GET_VISIBILITY_STATE_PROPERTY" @onclick="GetVisibilityState_Property">GetVisibilityState_Property</button>
        <button data-testid="@BUTTON_GET_VISIBILITY_STATE_METHOD" @onclick="GetVisibilityState_Method">GetVisibilityState_Method</button>

        @* Properties - Node *@
        <button data-testid="@BUTTON_GET_BASE_URI_PROPERTY" @onclick="GetBaseURI_Property">GetBaseURI_Property</button>
        <button data-testid="@BUTTON_GET_BASE_URI_METHOD" @onclick="GetBaseURI_Method">GetBaseURI_Method</button>
        <button data-testid="@BUTTON_GET_NODE_NAME" @onclick="GetNodeName">GetNodeName</button>
        <button data-testid="@BUTTON_GET_NODE_TYPE" @onclick="GetNodeType">GetNodeType</button>


        @* methods - DOM *@
        <button data-testid="@BUTTON_CREATE_ELEMENT" @onclick="CreateElement">CreateElement</button>
        <button data-testid="@BUTTON_CREATE_ELEMENT_NS" @onclick="CreateElementNS">CreateElementNS</button>
        <button data-testid="@BUTTON_GET_ELEMENT_BY_ID" @onclick="GetElementById">GetElementById</button>
        <button data-testid="@BUTTON_GET_ELEMENTS_BY_CLASS_NAME" @onclick="GetElementsByClassName">GetElementsByClassName</button>
        <button data-testid="@BUTTON_GET_ELEMENTS_BY_TAG_NAME" @onclick="GetElementsByTagName">GetElementsByTagName</button>
        <button data-testid="@BUTTON_GET_ELEMENTS_BY_TAG_NAME_NS" @onclick="GetElementsByTagNameNS">GetElementsByTagNameNS</button>
        <button data-testid="@BUTTON_GET_ELEMENTS_BY_NAME" @onclick="GetElementsByName">GetElementsByName</button>
        <button data-testid="@BUTTON_QUERY_SELECTOR" @onclick="QuerySelector">QuerySelector</button>
        <button data-testid="@BUTTON_QUERY_SELECTOR_ALL" @onclick="QuerySelectorAll">QuerySelectorAll</button>
        <button data-testid="@BUTTON_ELEMENT_FROM_POINT" @onclick="ElementFromPoint">ElementFromPoint</button>
        <button data-testid="@BUTTON_ELEMENTS_FROM_POINT" @onclick="ElementsFromPoint">ElementsFromPoint</button>
        <button data-testid="@BUTTON_REPLACE_CHILDREN" @onclick="ReplaceChildren">ReplaceChildren</button>

        @* methods - StorageAccess *@
        <button data-testid="@BUTTON_REQUEST_STORAGE_ACCESS" @onclick="RequestStorageAccess">RequestStorageAccess</button>
        <button data-testid="@BUTTON_REQUEST_STORAGE_ACCESS_FOR" @onclick="RequestStorageAccessFor">RequestStorageAccessFor</button>
        <button data-testid="@BUTTON_HAS_STORAGE_ACCESS" @onclick="HasStorageAccess">HasStorageAccess</button>

        @* methods - exit *@
        <button data-testid="@BUTTON_EXIT_FULLSCREEN" @onclick="ExitFullscreen">ExitFullscreen</button>
        <button data-testid="@BUTTON_EXIT_PICTURE_IN_PICTURE" @onclick="ExitPictureInPicture">ExitPictureInPicture</button>
        <button data-testid="@BUTTON_EXIT_POINTER_LOCK" @onclick="ExitPointerLock">ExitPointerLock</button>

        @* methods *@
        <button data-testid="@BUTTON_HAS_FOCUS" @onclick="HasFocus">HasFocus</button>

        @* methods - Node *@
        <button data-testid="@BUTTON_COMPARE_DOCUMENT_POSITION" @onclick="CompareDocumentPosition">CompareDocumentPosition</button>
        <button data-testid="@BUTTON_CONTAINS" @onclick="Contains">Contains</button>
        <button data-testid="@BUTTON_IS_DEFAULT_NAMESPACE" @onclick="IsDefaultNamespace">IsDefaultNamespace</button>
        <button data-testid="@BUTTON_LOOKUP_PREFIX" @onclick="LookupPrefix">LookupPrefix</button>
        <button data-testid="@BUTTON_LOOKUP_NAMESPACE_URI" @onclick="LookupNamespaceURI">LookupNamespaceURI</button>
        <button data-testid="@BUTTON_NORMALIZE" @onclick="Normalize">Normalize</button>


        @* events - Document *@
        <button data-testid="@BUTTON_REGISTER_ON_SECURITY_POLICY_VIOLATION" @onclick="RegisterOnSecurityPolicyViolation">RegisterOnSecurityPolicyViolation</button>
        <button data-testid="@BUTTON_REGISTER_ON_VISIBILITY_CHANGE" @onclick="RegisterOnVisibilityChange">RegisterOnVisibilityChange</button>
        <button data-testid="@BUTTON_REGISTER_ON_FULLSCREEN_CHANGE" @onclick="RegisterOnFullscreenChange">RegisterOnFullscreenChange</button>
        <button data-testid="@BUTTON_REGISTER_ON_FULLSCREEN_ERROR" @onclick="RegisterOnFullscreenError">RegisterOnFullscreenError</button>
        <button data-testid="@BUTTON_REGISTER_ON_DOM_CONTENT_LOADED" @onclick="RegisterOnDOMContentLoaded">RegisterOnDOMContentLoaded</button>
        <button data-testid="@BUTTON_REGISTER_ON_READY_STATE_CHANGE" @onclick="RegisterOnReadyStateChange">RegisterOnReadyStateChange</button>
        <button data-testid="@BUTTON_REGISTER_ON_POINTER_LOCK_CHANGE" @onclick="RegisterOnPointerLockChange">RegisterOnPointerLockChange</button>
        <button data-testid="@BUTTON_REGISTER_ON_POINTER_LOCK_ERROR" @onclick="RegisterOnPointerLockError">RegisterOnPointerLockError</button>
        <button data-testid="@BUTTON_REGISTER_ON_SCROLL" @onclick="RegisterOnScroll">RegisterOnScroll</button>
        <button data-testid="@BUTTON_REGISTER_ON_SCROLL_END" @onclick="RegisterOnScrollEnd">RegisterOnScrollEnd</button>
        <button data-testid="@BUTTON_REGISTER_ON_SELECTION_CHANGE" @onclick="RegisterOnSelectionChange">RegisterOnSelectionChange</button>
        <button data-testid="@BUTTON_REGISTER_ON_SELECT_START" @onclick="RegisterOnSelectStart">RegisterOnSelectStart</button>

        @* events - HTMLElement *@
        <button data-testid="@BUTTON_REGISTER_ON_CHANGE" @onclick="RegisterOnChange">RegisterOnChange</button>
        <button data-testid="@BUTTON_REGISTER_ON_LOAD" @onclick="RegisterOnLoad">RegisterOnLoad</button>
        <button data-testid="@BUTTON_REGISTER_ON_ERROR" @onclick="RegisterOnError">RegisterOnError</button>

        <button data-testid="@BUTTON_REGISTER_ON_DRAG" @onclick="RegisterOnDrag">RegisterOnDrag</button>
        <button data-testid="@BUTTON_REGISTER_ON_DRAG_START" @onclick="RegisterOnDragStart">RegisterOnDragStart</button>
        <button data-testid="@BUTTON_REGISTER_ON_DRAG_END" @onclick="RegisterOnDragEnd">RegisterOnDragEnd</button>
        <button data-testid="@BUTTON_REGISTER_ON_DRAG_ENTER" @onclick="RegisterOnDragEnter">RegisterOnDragEnter</button>
        <button data-testid="@BUTTON_REGISTER_ON_DRAG_LEAVE" @onclick="RegisterOnDragLeave">RegisterOnDragLeave</button>
        <button data-testid="@BUTTON_REGISTER_ON_DRAG_OVER" @onclick="RegisterOnDragOver">RegisterOnDragOver</button>
        <button data-testid="@BUTTON_REGISTER_ON_DROP" @onclick="RegisterOnDrop">RegisterOnDrop</button>

        <button data-testid="@BUTTON_REGISTER_ON_TOGGLE" @onclick="RegisterOnToggle">RegisterOnToggle</button>
        <button data-testid="@BUTTON_REGISTER_ON_BEFORE_TOGGLE" @onclick="RegisterOnBeforeToggle">RegisterOnBeforeToggle</button>

        @* events - Element *@
        <button data-testid="@BUTTON_REGISTER_ON_INPUT" @onclick="RegisterOnInput">RegisterOnInput</button>
        <button data-testid="@BUTTON_REGISTER_ON_BEFORE_INPUT" @onclick="RegisterOnBeforeInput">RegisterOnBeforeInput</button>
        <button data-testid="@BUTTON_REGISTER_ON_BEFORE_MATCH" @onclick="RegisterOnBeforeMatch">RegisterOnBeforeMatch</button>

        <button data-testid="@BUTTON_REGISTER_ON_KEY_DOWN" @onclick="RegisterOnKeyDown">RegisterOnKeyDown</button>
        <button data-testid="@BUTTON_REGISTER_ON_KEY_UP" @onclick="RegisterOnKeyUp">RegisterOnKeyUp</button>

        <button data-testid="@BUTTON_REGISTER_ON_CLICK" @onclick="RegisterOnClick">RegisterOnClick</button>
        <button data-testid="@BUTTON_REGISTER_ON_DBL_CLICK" @onclick="RegisterOnDblClick">RegisterOnDblClick</button>
        <button data-testid="@BUTTON_REGISTER_ON_AUX_CLICK" @onclick="RegisterOnAuxClick">RegisterOnAuxClick</button>
        <button data-testid="@BUTTON_REGISTER_ON_CONTEXT_MENU" @onclick="RegisterOnContextMenu">RegisterOnContextMenu</button>
        <button data-testid="@BUTTON_REGISTER_ON_MOUSE_DOWN" @onclick="RegisterOnMouseDown">RegisterOnMouseDown</button>
        <button data-testid="@BUTTON_REGISTER_ON_MOUSE_UP" @onclick="RegisterOnMouseUp">RegisterOnMouseUp</button>
        <button data-testid="@BUTTON_REGISTER_ON_WHEEL" @onclick="RegisterOnWheel">RegisterOnWheel</button>
        <button data-testid="@BUTTON_REGISTER_ON_MOUSE_MOVE" @onclick="RegisterOnMouseMove">RegisterOnMouseMove</button>
        <button data-testid="@BUTTON_REGISTER_ON_MOUSE_OVER" @onclick="RegisterOnMouseOver">RegisterOnMouseOver</button>
        <button data-testid="@BUTTON_REGISTER_ON_MOUSE_OUT" @onclick="RegisterOnMouseOut">RegisterOnMouseOut</button>
        <button data-testid="@BUTTON_REGISTER_ON_MOUSE_ENTER" @onclick="RegisterOnMouseEnter">RegisterOnMouseEnter</button>
        <button data-testid="@BUTTON_REGISTER_ON_MOUSE_LEAVE" @onclick="RegisterOnMouseLeave">RegisterOnMouseLeave</button>

        <button data-testid="@BUTTON_REGISTER_ON_TOUCH_START" @onclick="RegisterOnTouchStart">RegisterOnTouchStart</button>
        <button data-testid="@BUTTON_REGISTER_ON_TOUCH_END" @onclick="RegisterOnTouchEnd">RegisterOnTouchEnd</button>
        <button data-testid="@BUTTON_REGISTER_ON_TOUCH_MOVE" @onclick="RegisterOnTouchMove">RegisterOnTouchMove</button>
        <button data-testid="@BUTTON_REGISTER_ON_TOUCH_CANCEL" @onclick="RegisterOnTouchCancel">RegisterOnTouchCancel</button>

        <button data-testid="@BUTTON_REGISTER_ON_POINTER_DOWN" @onclick="RegisterOnPointerDown">RegisterOnPointerDown</button>
        <button data-testid="@BUTTON_REGISTER_ON_POINTER_UP" @onclick="RegisterOnPointerUp">RegisterOnPointerUp</button>
        <button data-testid="@BUTTON_REGISTER_ON_POINTER_MOVE" @onclick="RegisterOnPointerMove">RegisterOnPointerMove</button>
        <button data-testid="@BUTTON_REGISTER_ON_POINTER_OVER" @onclick="RegisterOnPointerOver">RegisterOnPointerOver</button>
        <button data-testid="@BUTTON_REGISTER_ON_POINTER_OUT" @onclick="RegisterOnPointerOut">RegisterOnPointerOut</button>
        <button data-testid="@BUTTON_REGISTER_ON_POINTER_ENTER" @onclick="RegisterOnPointerEnter">RegisterOnPointerEnter</button>
        <button data-testid="@BUTTON_REGISTER_ON_POINTER_LEAVE" @onclick="RegisterOnPointerLeave">RegisterOnPointerLeave</button>
        <button data-testid="@BUTTON_REGISTER_ON_POINTER_CANCEL" @onclick="RegisterOnPointerCancel">RegisterOnPointerCancel</button>
        <button data-testid="@BUTTON_REGISTER_ON_POINTER_RAW_UPDATE" @onclick="RegisterOnPointerRawUpdate">RegisterOnPointerRawUpdate</button>
        <button data-testid="@BUTTON_REGISTER_ON_GOT_POINTER_CAPTURE" @onclick="RegisterOnGotPointerCapture">RegisterOnGotPointerCapture</button>
        <button data-testid="@BUTTON_REGISTER_ON_LOST_POINTER_CAPTURE" @onclick="RegisterOnLostPointerCapture">RegisterOnLostPointerCapture</button>

        <button data-testid="@BUTTON_REGISTER_ON_FOCUS" @onclick="RegisterOnFocus">RegisterOnFocus</button>
        <button data-testid="@BUTTON_REGISTER_ON_FOCUS_IN" @onclick="RegisterOnFocusIn">RegisterOnFocusIn</button>
        <button data-testid="@BUTTON_REGISTER_ON_BLUR" @onclick="RegisterOnBlur">RegisterOnBlur</button>
        <button data-testid="@BUTTON_REGISTER_ON_FOCUS_OUT" @onclick="RegisterOnFocusOut">RegisterOnFocusOut</button>

        <button data-testid="@BUTTON_REGISTER_ON_COPY" @onclick="RegisterOnCopy">RegisterOnCopy</button>
        <button data-testid="@BUTTON_REGISTER_ON_PASTE" @onclick="RegisterOnPaste">RegisterOnPaste</button>
        <button data-testid="@BUTTON_REGISTER_ON_CUT" @onclick="RegisterOnCut">RegisterOnCut</button>

        <button data-testid="@BUTTON_REGISTER_ON_TRANSITION_START" @onclick="RegisterOnTransitionStart">RegisterOnTransitionStart</button>
        <button data-testid="@BUTTON_REGISTER_ON_TRANSITION_END" @onclick="RegisterOnTransitionEnd">RegisterOnTransitionEnd</button>
        <button data-testid="@BUTTON_REGISTER_ON_TRANSITION_RUN" @onclick="RegisterOnTransitionRun">RegisterOnTransitionRun</button>
        <button data-testid="@BUTTON_REGISTER_ON_TRANSITION_CANCEL" @onclick="RegisterOnTransitionCancel">RegisterOnTransitionCancel</button>

        <button data-testid="@BUTTON_REGISTER_ON_ANIMATION_START" @onclick="RegisterOnAnimationStart">RegisterOnAnimationStart</button>
        <button data-testid="@BUTTON_REGISTER_ON_ANIMATION_END" @onclick="RegisterOnAnimationEnd">RegisterOnAnimationEnd</button>
        <button data-testid="@BUTTON_REGISTER_ON_ANIMATION_ITERATION" @onclick="RegisterOnAnimationIteration">RegisterOnAnimationIteration</button>
        <button data-testid="@BUTTON_REGISTER_ON_ANIMATION_CANCEL" @onclick="RegisterOnAnimationCancel">RegisterOnAnimationCancel</button>

        @* events - HTMLMediaElement Ready *@
        <button data-testid="@BUTTON_REGISTER_ON_CAN_PLAY" @onclick="RegisterOnCanPlay">RegisterOnCanPlay</button>
        <button data-testid="@BUTTON_REGISTER_ON_CAN_PLAY_THROUGH" @onclick="RegisterOnCanPlayThrough">RegisterOnCanPlayThrough</button>
        <button data-testid="@BUTTON_REGISTER_ON_PLAYING" @onclick="RegisterOnPlaying">RegisterOnPlaying</button>
        @* events - HTMLMediaElement Data *@
        <button data-testid="@BUTTON_REGISTER_ON_LOAD_START" @onclick="RegisterOnLoadStart">RegisterOnLoadStart</button>
        <button data-testid="@BUTTON_REGISTER_ON_PROGRESS" @onclick="RegisterOnProgress">RegisterOnProgress</button>
        <button data-testid="@BUTTON_REGISTER_ON_LOADED_DATA" @onclick="RegisterOnLoadedData">RegisterOnLoadedData</button>
        <button data-testid="@BUTTON_REGISTER_ON_LOADED_METADATA" @onclick="RegisterOnLoadedMetadata">RegisterOnLoadedMetadata</button>
        <button data-testid="@BUTTON_REGISTER_ON_STALLED" @onclick="RegisterOnStalled">RegisterOnStalled</button>
        <button data-testid="@BUTTON_REGISTER_ON_SUSPEND" @onclick="RegisterOnSuspend">RegisterOnSuspend</button>
        <button data-testid="@BUTTON_REGISTER_ON_WAITING" @onclick="RegisterOnWaiting">RegisterOnWaiting</button>
        <button data-testid="@BUTTON_REGISTER_ON_ABORT" @onclick="RegisterOnAbort">RegisterOnAbort</button>
        <button data-testid="@BUTTON_REGISTER_ON_EMPTIED" @onclick="RegisterOnEmptied">RegisterOnEmptied</button>
        @* events - HTMLMediaElement Timing *@
        <button data-testid="@BUTTON_REGISTER_ON_PLAY" @onclick="RegisterOnPlay">RegisterOnPlay</button>
        <button data-testid="@BUTTON_REGISTER_ON_PAUSE" @onclick="RegisterOnPause">RegisterOnPause</button>
        <button data-testid="@BUTTON_REGISTER_ON_ENDED" @onclick="RegisterOnEnded">RegisterOnEnded</button>
        <button data-testid="@BUTTON_REGISTER_ON_SEEKING" @onclick="RegisterOnSeeking">RegisterOnSeeking</button>
        <button data-testid="@BUTTON_REGISTER_ON_SEEKED" @onclick="RegisterOnSeeked">RegisterOnSeeked</button>
        <button data-testid="@BUTTON_REGISTER_ON_TIME_UPDATE" @onclick="RegisterOnTimeUpdate">RegisterOnTimeUpdate</button>
        @* events - HTMLMediaElement Setting *@
        <button data-testid="@BUTTON_REGISTER_ON_VOLUME_CHANGE" @onclick="RegisterOnVolumeChange">RegisterOnVolumeChange</button>
        <button data-testid="@BUTTON_REGISTER_ON_RATE_CHANGE" @onclick="RegisterOnRateChange">RegisterOnRateChange</button>
        <button data-testid="@BUTTON_REGISTER_ON_DURATION_CHANGE" @onclick="RegisterOnDurationChange">RegisterOnDurationChange</button>
        @* events - HTMLMediaElement Video *@
        <button data-testid="@BUTTON_REGISTER_ON_RESIZE" @onclick="RegisterOnResize">RegisterOnResize</button>

        @* events - HTMLDialogElement *@
        <button data-testid="@BUTTON_REGISTER_ON_CLOSE" @onclick="RegisterOnClose">RegisterOnClose</button>
        <button data-testid="@BUTTON_REGISTER_ON_CANCEL" @onclick="RegisterOnCancel">RegisterOnCancel</button>
    </div>
    <label data-testid="@LABEL_OUTPUT">@labelOutput</label>
</div>
