@namespace BrowserAPI.Test.Client

<div class="group">
    <h2>Geolocation InProcess</h2>
    <div>
        <button data-testid="@BUTTON_GET_CURRENT_POSITION" @onclick="GetCurrentPosition">GetCurrentPosition</button>
        <button data-testid="@BUTTON_GET_CURRENT_POSITION_ASYNC" @onclick="GetCurrentPositionAsync">GetCurrentPositionAsync</button>
        <button data-testid="@BUTTON_WATCH_POSITION" @onclick="WatchPosition">WatchPosition</button>
        <button data-testid="@BUTTON_CLEAR_WATCH" @onclick="ClearWatch">ClearWatch</button>
    </div>
    <label data-testid="@LABEL_OUTPUT">@labelOutput</label>
</div>
