@namespace BrowserAPI.Test.Client

<div class="group">
    <h2>HTML MediaElement InProcess</h2>
    <div>
        <button data-testid="@BUTTON_TO_HTML_ELEMENT" @onclick="ToHTMLElement">ToHTMLElement</button>

        @* Attributes *@
        <button data-testid="@BUTTON_GET_SRC" @onclick="GetSrc">GetSrc</button>
        <button data-testid="@BUTTON_SET_SRC" @onclick="SetSrc">SetSrc</button>

        <button data-testid="@BUTTON_GET_SRC_OBJECT" @onclick="GetSrcObject">GetSrcObject</button>
        <button data-testid="@BUTTON_SET_SRC_OBJECT" @onclick="SetSrcObject">SetSrcObject</button>

        <button data-testid="@BUTTON_GET_CONTROLS" @onclick="GetControls">GetControls</button>
        <button data-testid="@BUTTON_SET_CONTROLS" @onclick="SetControls">SetControls</button>

        <button data-testid="@BUTTON_GET_AUTOPLAY" @onclick="GetAutoplay">GetAutoplay</button>
        <button data-testid="@BUTTON_SET_AUTOPLAY" @onclick="SetAutoplay">SetAutoplay</button>

        <button data-testid="@BUTTON_GET_LOOP" @onclick="GetLoop">GetLoop</button>
        <button data-testid="@BUTTON_SET_LOOP" @onclick="SetLoop">SetLoop</button>

        <button data-testid="@BUTTON_GET_DEFAULT_MUTED" @onclick="GetDefaultMuted">GetDefaultMuted</button>
        <button data-testid="@BUTTON_SET_DEFAULT_MUTED" @onclick="SetDefaultMuted">SetDefaultMuted</button>

        <button data-testid="@BUTTON_GET_PRELOAD" @onclick="GetPreload">GetPreload</button>
        <button data-testid="@BUTTON_SET_PRELOAD" @onclick="SetPreload">SetPreload</button>

        @* State *@
        <button data-testid="@BUTTON_GET_CURRENT_SRC" @onclick="GetCurrentSrc">GetCurrentSrc</button>

        <button data-testid="@BUTTON_GET_CURRENT_TIME" @onclick="GetCurrentTime">GetCurrentTime</button>
        <button data-testid="@BUTTON_SET_CURRENT_TIME" @onclick="SetCurrentTime">SetCurrentTime</button>

        <button data-testid="@BUTTON_GET_DURATION" @onclick="GetDuration">GetDuration</button>

        <button data-testid="@BUTTON_GET_SEEKABLE" @onclick="GetSeekable">GetSeekable</button>

        <button data-testid="@BUTTON_GET_MUTED" @onclick="GetMuted">GetMuted</button>
        <button data-testid="@BUTTON_SET_MUTED" @onclick="SetMuted">SetMuted</button>

        <button data-testid="@BUTTON_GET_VOLUME" @onclick="GetVolume">GetVolume</button>
        <button data-testid="@BUTTON_SET_VOLUME" @onclick="SetVolume">SetVolume</button>

        <button data-testid="@BUTTON_GET_PAUSED" @onclick="GetPaused">GetPaused</button>

        <button data-testid="@BUTTON_GET_ENDED" @onclick="GetEnded">GetEnded</button>

        <button data-testid="@BUTTON_GET_SEEKING" @onclick="GetSeeking">GetSeeking</button>

        <button data-testid="@BUTTON_GET_READY_STATE" @onclick="GetReadyState">GetReadyState</button>

        <button data-testid="@BUTTON_GET_NETWORK_STATE" @onclick="GetNetworkState">GetNetworkState</button>

        <button data-testid="@BUTTON_GET_BUFFERED" @onclick="GetBuffered">GetBuffered</button>

        <button data-testid="@BUTTON_GET_PLAYED" @onclick="GetPlayed">GetPlayed</button>

        @* Settings *@
        <button data-testid="@BUTTON_GET_PLAYBACK_RATE" @onclick="GetPlaybackRate">GetPlaybackRate</button>
        <button data-testid="@BUTTON_SET_PLAYBACK_RATE" @onclick="SetPlaybackRate">SetPlaybackRate</button>

        <button data-testid="@BUTTON_GET_DEFAULT_PLAYBACK_RATE" @onclick="GetDefaultPlaybackRate">GetDefaultPlaybackRate</button>
        <button data-testid="@BUTTON_SET_DEFAULT_PLAYBACK_RATE" @onclick="SetDefaultPlaybackRate">SetDefaultPlaybackRate</button>

        <button data-testid="@BUTTON_GET_CROSS_ORIGIN" @onclick="GetCrossOrigin">GetCrossOrigin</button>
        <button data-testid="@BUTTON_SET_CROSS_ORIGIN" @onclick="SetCrossOrigin">SetCrossOrigin</button>

        <button data-testid="@BUTTON_GET_PRESERVES_PITCH" @onclick="GetPreservesPitch">GetPreservesPitch</button>
        <button data-testid="@BUTTON_SET_PRESERVES_PITCH" @onclick="SetPreservesPitch">SetPreservesPitch</button>

        <button data-testid="@BUTTON_GET_DISABLE_REMOTE_PLAYBACK" @onclick="GetDisableRemotePlayback">GetDisableRemotePlayback</button>
        <button data-testid="@BUTTON_SET_DISABLE_REMOTE_PLAYBACK" @onclick="SetDisableRemotePlayback">SetDisableRemotePlayback</button>

        @* Video *@

        <button data-testid="@BUTTON_GET_WIDTH" @onclick="GetWidth">GetWidth</button>
        <button data-testid="@BUTTON_SET_WIDTH" @onclick="SetWidth">SetWidth</button>

        <button data-testid="@BUTTON_GET_HEIGHT" @onclick="GetHeight">GetHeight</button>
        <button data-testid="@BUTTON_SET_HEIGHT" @onclick="SetHeight">SetHeight</button>

        <button data-testid="@BUTTON_GET_VIDEO_WIDTH" @onclick="GetVideoWidth">GetVideoWidth</button>
        <button data-testid="@BUTTON_GET_VIDEO_HEIGHT" @onclick="GetVideoHeight">GetVideoHeight</button>

        <button data-testid="@BUTTON_GET_POSTER" @onclick="GetPoster">GetPoster</button>
        <button data-testid="@BUTTON_SET_POSTER" @onclick="SetPoster">SetPoster</button>

        <button data-testid="@BUTTON_GET_DISABLE_PICTURE_IN_PICTURE" @onclick="GetDisablePictureInPicture">GetDisablePictureInPicture</button>
        <button data-testid="@BUTTON_SET_DISABLE_PICTURE_IN_PICTURE" @onclick="SetDisablePictureInPicture">SetDisablePictureInPicture</button>

        @* PictureInPictureWindow *@

        <button data-testid="@BUTTON_GET_PICTURE_IN_PICTURE_WINDOW_WIDTH" @onclick="GetPictureInPictureWindowWidth">GetPictureInPictureWindowWidth</button>
        <button data-testid="@BUTTON_GET_PICTURE_IN_PICTURE_WINDOW_HEIGHT" @onclick="GetPictureInPictureWindowHeight">GetPictureInPictureWindowHeight</button>

        <button data-testid="@BUTTON_REGISTER_PICTURE_IN_PICTURE_WINDOW_ON_RESIZE" @onclick="RegisterPictureInPictureWindowOnResize">RegisterPictureInPictureWindowOnResize</button>

        @* Methods *@
        <button data-testid="@BUTTON_PLAY" @onclick="Play">Play</button>
        <button data-testid="@BUTTON_PAUSE" @onclick="Pause">Pause</button>
        <button data-testid="@BUTTON_LOAD" @onclick="Load">Load</button>
        <button data-testid="@BUTTON_FAST_SEEK" @onclick="FastSeek">FastSeek</button>
        <button data-testid="@BUTTON_CAN_PLAY_TYPE" @onclick="CanPlayType">CanPlayType</button>

        <button data-testid="@BUTTON_REQUEST_PICTURE_IN_PICTURE" @onclick="RequestPictureInPicture">RequestPictureInPicture</button>

        @* Events *@

        @* Ready *@
        <button data-testid="@BUTTON_REGISTER_ON_ERROR" @onclick="RegisterOnError">RegisterOnError</button>
        <button data-testid="@BUTTON_REGISTER_ON_CAN_PLAY" @onclick="RegisterOnCanPlay">RegisterOnCanPlay</button>
        <button data-testid="@BUTTON_REGISTER_ON_CAN_PLAY_THROUGH" @onclick="RegisterOnCanPlayThrough">RegisterOnCanPlayThrough</button>
        <button data-testid="@BUTTON_REGISTER_ON_PLAYING" @onclick="RegisterOnPlaying">RegisterOnPlaying</button>

        @* Data *@
        <button data-testid="@BUTTON_REGISTER_ON_LOAD_START" @onclick="RegisterOnLoadStart">RegisterOnLoadStart</button>
        <button data-testid="@BUTTON_REGISTER_ON_PROGRESS" @onclick="RegisterOnProgress">RegisterOnProgress</button>
        <button data-testid="@BUTTON_REGISTER_ON_LOADED_DATA" @onclick="RegisterOnLoadedData">RegisterOnLoadedData</button>
        <button data-testid="@BUTTON_REGISTER_ON_LOADED_METADATA" @onclick="RegisterOnLoadedMetadata">RegisterOnLoadedMetadata</button>
        <button data-testid="@BUTTON_REGISTER_ON_STALLED" @onclick="RegisterOnStalled">RegisterOnStalled</button>
        <button data-testid="@BUTTON_REGISTER_ON_SUSPEND" @onclick="RegisterOnSuspend">RegisterOnSuspend</button>
        <button data-testid="@BUTTON_REGISTER_ON_WAITING" @onclick="RegisterOnWaiting">RegisterOnWaiting</button>
        <button data-testid="@BUTTON_REGISTER_ON_ABORT" @onclick="RegisterOnAbort">RegisterOnAbort</button>
        <button data-testid="@BUTTON_REGISTER_ON_EMPTIED" @onclick="RegisterOnEmptied">RegisterOnEmptied</button>

        @* Timing *@
        <button data-testid="@BUTTON_REGISTER_ON_PLAY" @onclick="RegisterOnPlay">RegisterOnPlay</button>
        <button data-testid="@BUTTON_REGISTER_ON_PAUSE" @onclick="RegisterOnPause">RegisterOnPause</button>
        <button data-testid="@BUTTON_REGISTER_ON_ENDED" @onclick="RegisterOnEnded">RegisterOnEnded</button>
        <button data-testid="@BUTTON_REGISTER_ON_SEEKING" @onclick="RegisterOnSeeking">RegisterOnSeeking</button>
        <button data-testid="@BUTTON_REGISTER_ON_SEEKED" @onclick="RegisterOnSeeked">RegisterOnSeeked</button>
        <button data-testid="@BUTTON_REGISTER_ON_TIME_UPDATE" @onclick="RegisterOnTimeUpdate">RegisterOnTimeUpdate</button>

        @* Setting *@
        <button data-testid="@BUTTON_REGISTER_ON_VOLUME_CHANGE" @onclick="RegisterOnVolumeChange">RegisterOnVolumeChange</button>
        <button data-testid="@BUTTON_REGISTER_ON_RATE_CHANGE" @onclick="RegisterOnRateChange">RegisterOnRateChange</button>
        <button data-testid="@BUTTON_REGISTER_ON_DURATION_CHANGE" @onclick="RegisterOnDurationChange">RegisterOnDurationChange</button>

        @* Video *@
        <button data-testid="@BUTTON_REGISTER_ON_RESIZE" @onclick="RegisterOnResize">RegisterOnResize</button>
        <button data-testid="@BUTTON_REGISTER_ON_ENTER_PICTURE_IN_PICTURE" @onclick="RegisterOnEnterPictureInPicture">RegisterOnEnterPictureInPicture</button>
        <button data-testid="@BUTTON_REGISTER_ON_LEAVE_PICTURE_IN_PICTURE" @onclick="RegisterOnLeavePictureInPicture">RegisterOnLeavePictureInPicture</button>
    </div>
    <label data-testid="@LABEL_OUTPUT">@labelOutput</label>
    <audio data-testid="@AUDIO_ELEMENT" @ref="audioElement" src="HTMLMediaElement_audio.mp3" preload="metadata" controls></audio>
    <video data-testid="@VIDEO_ELEMENT" @ref="videoElement" src="HTMLMediaElement_video.mp4" width="160" height="90" preload="metadata" controls></video>
</div>
