@namespace BrowserAPI.Test.Client

<div class="group">
    <h2>HTML MediaElement</h2>
    <div>
        <button data-testid="@BUTTON_TO_HTML_ELEMENT" @onclick="ToHTMLElement">ToHTMLElement</button>

        @* Attributes *@
        <button data-testid="@BUTTON_GET_SRC_PROPERTY" @onclick="GetSrc_Property">GetSrc_Property</button>
        <button data-testid="@BUTTON_GET_SRC_METHOD" @onclick="GetSrc_Method">GetSrc_Method</button>
        <button data-testid="@BUTTON_SET_SRC" @onclick="SetSrc">SetSrc</button>

        <button data-testid="@BUTTON_GET_SRC_OBJECT_PROPERTY" @onclick="GetSrcObject_Property">GetSrcObject_Property</button>
        <button data-testid="@BUTTON_GET_SRC_OBJECT_METHOD" @onclick="GetSrcObject_Method">GetSrcObject_Method</button>
        <button data-testid="@BUTTON_SET_SRC_OBJECT" @onclick="SetSrcObject">SetSrcObject</button>

        <button data-testid="@BUTTON_GET_CONTROLS_PROPERTY" @onclick="GetControls_Property">GetControls_Property</button>
        <button data-testid="@BUTTON_GET_CONTROLS_METHOD" @onclick="GetControls_Method">GetControls_Method</button>
        <button data-testid="@BUTTON_SET_CONTROLS" @onclick="SetControls">SetControls</button>

        <button data-testid="@BUTTON_GET_AUTOPLAY_PROPERTY" @onclick="GetAutoplay_Property">GetAutoplay_Property</button>
        <button data-testid="@BUTTON_GET_AUTOPLAY_METHOD" @onclick="GetAutoplay_Method">GetAutoplay_Method</button>
        <button data-testid="@BUTTON_SET_AUTOPLAY" @onclick="SetAutoplay">SetAutoplay</button>

        <button data-testid="@BUTTON_GET_LOOP_PROPERTY" @onclick="GetLoop_Property">GetLoop_Property</button>
        <button data-testid="@BUTTON_GET_LOOP_METHOD" @onclick="GetLoop_Method">GetLoop_Method</button>
        <button data-testid="@BUTTON_SET_LOOP" @onclick="SetLoop">SetLoop</button>

        <button data-testid="@BUTTON_GET_DEFAULT_MUTED_PROPERTY" @onclick="GetDefaultMuted_Property">GetDefaultMuted_Property</button>
        <button data-testid="@BUTTON_GET_DEFAULT_MUTED_METHOD" @onclick="GetDefaultMuted_Method">GetDefaultMuted_Method</button>
        <button data-testid="@BUTTON_SET_DEFAULT_MUTED" @onclick="SetDefaultMuted">SetDefaultMuted</button>

        <button data-testid="@BUTTON_GET_PRELOAD_PROPERTY" @onclick="GetPreload_Property">GetPreload_Property</button>
        <button data-testid="@BUTTON_GET_PRELOAD_METHOD" @onclick="GetPreload_Method">GetPreload_Method</button>
        <button data-testid="@BUTTON_SET_PRELOAD" @onclick="SetPreload">SetPreload</button>

        @* State *@
        <button data-testid="@BUTTON_GET_CURRENT_SRC_PROPERTY" @onclick="GetCurrentSrc_Property">GetCurrentSrc_Property</button>
        <button data-testid="@BUTTON_GET_CURRENT_SRC_METHOD" @onclick="GetCurrentSrc_Method">GetCurrentSrc_Method</button>

        <button data-testid="@BUTTON_GET_CURRENT_TIME_PROPERTY" @onclick="GetCurrentTime_Property">GetCurrentTime_Property</button>
        <button data-testid="@BUTTON_GET_CURRENT_TIME_METHOD" @onclick="GetCurrentTime_Method">GetCurrentTime_Method</button>
        <button data-testid="@BUTTON_SET_CURRENT_TIME" @onclick="SetCurrentTime">SetCurrentTime</button>

        <button data-testid="@BUTTON_GET_DURATION_PROPERTY" @onclick="GetDuration_Property">GetDuration_Property</button>
        <button data-testid="@BUTTON_GET_DURATION_METHOD" @onclick="GetDuration_Method">GetDuration_Method</button>

        <button data-testid="@BUTTON_GET_SEEKABLE_PROPERTY" @onclick="GetSeekable_Property">GetSeekable_Property</button>
        <button data-testid="@BUTTON_GET_SEEKABLE_METHOD" @onclick="GetSeekable_Method">GetSeekable_Method</button>

        <button data-testid="@BUTTON_GET_MUTED_PROPERTY" @onclick="GetMuted_Property">GetMuted_Property</button>
        <button data-testid="@BUTTON_GET_MUTED_METHOD" @onclick="GetMuted_Method">GetMuted_Method</button>
        <button data-testid="@BUTTON_SET_MUTED" @onclick="SetMuted">SetMuted</button>

        <button data-testid="@BUTTON_GET_VOLUME_PROPERTY" @onclick="GetVolume_Property">GetVolume_Property</button>
        <button data-testid="@BUTTON_GET_VOLUME_METHOD" @onclick="GetVolume_Method">GetVolume_Method</button>
        <button data-testid="@BUTTON_SET_VOLUME" @onclick="SetVolume">SetVolume</button>

        <button data-testid="@BUTTON_GET_PAUSED_PROPERTY" @onclick="GetPaused_Property">GetPaused_Property</button>
        <button data-testid="@BUTTON_GET_PAUSED_METHOD" @onclick="GetPaused_Method">GetPaused_Method</button>

        <button data-testid="@BUTTON_GET_ENDED_PROPERTY" @onclick="GetEnded_Property">GetEnded_Property</button>
        <button data-testid="@BUTTON_GET_ENDED_METHOD" @onclick="GetEnded_Method">GetEnded_Method</button>

        <button data-testid="@BUTTON_GET_SEEKING_PROPERTY" @onclick="GetSeeking_Property">GetSeeking_Property</button>
        <button data-testid="@BUTTON_GET_SEEKING_METHOD" @onclick="GetSeeking_Method">GetSeeking_Method</button>

        <button data-testid="@BUTTON_GET_READY_STATE_PROPERTY" @onclick="GetReadyState_Property">GetReadyState_Property</button>
        <button data-testid="@BUTTON_GET_READY_STATE_METHOD" @onclick="GetReadyState_Method">GetReadyState_Method</button>

        <button data-testid="@BUTTON_GET_NETWORK_STATE_PROPERTY" @onclick="GetNetworkState_Property">GetNetworkState_Property</button>
        <button data-testid="@BUTTON_GET_NETWORK_STATE_METHOD" @onclick="GetNetworkState_Method">GetNetworkState_Method</button>

        <button data-testid="@BUTTON_GET_BUFFERED_PROPERTY" @onclick="GetBuffered_Property">GetBuffered_Property</button>
        <button data-testid="@BUTTON_GET_BUFFERED_METHOD" @onclick="GetBuffered_Method">GetBuffered_Method</button>

        <button data-testid="@BUTTON_GET_PLAYED_PROPERTY" @onclick="GetPlayed_Property">GetPlayed_Property</button>
        <button data-testid="@BUTTON_GET_PLAYED_METHOD" @onclick="GetPlayed_Method">GetPlayed_Method</button>

        @* Settings *@

        <button data-testid="@BUTTON_GET_PLAYBACK_RATE_PROPERTY" @onclick="GetPlaybackRate_Property">GetPlaybackRate_Property</button>
        <button data-testid="@BUTTON_GET_PLAYBACK_RATE_METHOD" @onclick="GetPlaybackRate_Method">GetPlaybackRate_Method</button>
        <button data-testid="@BUTTON_SET_PLAYBACK_RATE" @onclick="SetPlaybackRate">SetPlaybackRate</button>

        <button data-testid="@BUTTON_GET_DEFAULT_PLAYBACK_RATE_PROPERTY" @onclick="GetDefaultPlaybackRate_Property">GetDefaultPlaybackRate_Property</button>
        <button data-testid="@BUTTON_GET_DEFAULT_PLAYBACK_RATE_METHOD" @onclick="GetDefaultPlaybackRate_Method">GetDefaultPlaybackRate_Method</button>
        <button data-testid="@BUTTON_SET_DEFAULT_PLAYBACK_RATE" @onclick="SetDefaultPlaybackRate">SetDefaultPlaybackRate</button>

        <button data-testid="@BUTTON_GET_CROSS_ORIGIN_PROPERTY" @onclick="GetCrossOrigin_Property">GetCrossOrigin_Property</button>
        <button data-testid="@BUTTON_GET_CROSS_ORIGIN_METHOD" @onclick="GetCrossOrigin_Method">GetCrossOrigin_Method</button>
        <button data-testid="@BUTTON_SET_CROSS_ORIGIN" @onclick="SetCrossOrigin">SetCrossOrigin</button>

        <button data-testid="@BUTTON_GET_PRESERVES_PITCH_PROPERTY" @onclick="GetPreservesPitch_Property">GetPreservesPitch_Property</button>
        <button data-testid="@BUTTON_GET_PRESERVES_PITCH_METHOD" @onclick="GetPreservesPitch_Method">GetPreservesPitch_Method</button>
        <button data-testid="@BUTTON_SET_PRESERVES_PITCH" @onclick="SetPreservesPitch">SetPreservesPitch</button>

        <button data-testid="@BUTTON_GET_DISABLE_REMOTE_PLAYBACK_PROPERTY" @onclick="GetDisableRemotePlayback_Property">GetDisableRemotePlayback_Property</button>
        <button data-testid="@BUTTON_GET_DISABLE_REMOTE_PLAYBACK_METHOD" @onclick="GetDisableRemotePlayback_Method">GetDisableRemotePlayback_Method</button>
        <button data-testid="@BUTTON_SET_DISABLE_REMOTE_PLAYBACK" @onclick="SetDisableRemotePlayback">SetDisableRemotePlayback</button>

        @* Video *@

        <button data-testid="@BUTTON_GET_WIDTH_PROPERTY" @onclick="GetWidth_Property">GetWidth_Property</button>
        <button data-testid="@BUTTON_GET_WIDTH_METHOD" @onclick="GetWidth_Method">GetWidth_Method</button>
        <button data-testid="@BUTTON_SET_WIDTH" @onclick="SetWidth">SetWidth</button>

        <button data-testid="@BUTTON_GET_HEIGHT_PROPERTY" @onclick="GetHeight_Property">GetHeight_Property</button>
        <button data-testid="@BUTTON_GET_HEIGHT_METHOD" @onclick="GetHeight_Method">GetHeight_Method</button>
        <button data-testid="@BUTTON_SET_HEIGHT" @onclick="SetHeight">SetHeight</button>

        <button data-testid="@BUTTON_GET_VIDEO_WIDTH_PROPERTY" @onclick="GetVideoWidth_Property">GetVideoWidth_Property</button>
        <button data-testid="@BUTTON_GET_VIDEO_WIDTH_METHOD" @onclick="GetVideoWidth_Method">GetVideoWidth_Method</button>

        <button data-testid="@BUTTON_GET_VIDEO_HEIGHT_PROPERTY" @onclick="GetVideoHeight_Property">GetVideoHeight_Property</button>
        <button data-testid="@BUTTON_GET_VIDEO_HEIGHT_METHOD" @onclick="GetVideoHeight_Method">GetVideoHeight_Method</button>

        <button data-testid="@BUTTON_GET_POSTER_PROPERTY" @onclick="GetPoster_Property">GetPoster_Property</button>
        <button data-testid="@BUTTON_GET_POSTER_METHOD" @onclick="GetPoster_Method">GetPoster_Method</button>
        <button data-testid="@BUTTON_SET_POSTER" @onclick="SetPoster">SetPoster</button>

        <button data-testid="@BUTTON_GET_DISABLE_PICTURE_IN_PICTURE_PROPERTY" @onclick="GetDisablePictureInPicture_Property">GetDisablePictureInPicture_Property</button>
        <button data-testid="@BUTTON_GET_DISABLE_PICTURE_IN_PICTURE_METHOD" @onclick="GetDisablePictureInPicture_Method">GetDisablePictureInPicture_Method</button>
        <button data-testid="@BUTTON_SET_DISABLE_PICTURE_IN_PICTURE" @onclick="SetDisablePictureInPicture">SetDisablePictureInPicture</button>

        @* PictureInPictureWindow *@

        <button data-testid="@BUTTON_GET_PICTURE_IN_PICTURE_WINDOW_WIDTH_PROPERTY" @onclick="GetPictureInPictureWindowWidth_Property">GetPictureInPictureWindowWidth_Property</button>
        <button data-testid="@BUTTON_GET_PICTURE_IN_PICTURE_WINDOW_WIDTH_METHOD" @onclick="GetPictureInPictureWindowWidth_Method">GetPictureInPictureWindowWidth_Method</button>

        <button data-testid="@BUTTON_GET_PICTURE_IN_PICTURE_WINDOW_HEIGHT_PROPERTY" @onclick="GetPictureInPictureWindowHeight_Property">GetPictureInPictureWindowHeight_Property</button>
        <button data-testid="@BUTTON_GET_PICTURE_IN_PICTURE_WINDOW_HEIGHT_METHOD" @onclick="GetPictureInPictureWindowHeight_Method">GetPictureInPictureWindowHeight_Method</button>

        <button data-testid="@BUTTON_REGISTER_PICTURE_IN_PICTURE_WINDOW_ON_RESIZE" @onclick="RegisterPictureInPictureWindowOnResize">RegisterPictureInPictureWindowOnResize</button>

        @* Methods *@

        <button data-testid="@BUTTON_PLAY" @onclick="Play">Play</button>
        <button data-testid="@BUTTON_PAUSE" @onclick="Pause">Pause</button>
        <button data-testid="@BUTTON_LOAD" @onclick="Load">Load</button>
        <button data-testid="@BUTTON_FAST_SEEK" @onclick="FastSeek">FastSeek</button>
        <button data-testid="@BUTTON_CAN_PLAY_TYPE" @onclick="CanPlayType">CanPlayType</button>

        <button data-testid="@BUTTON_REQUEST_PICTURE_IN_PICTURE" @onclick="RequestPictureInPicture">RequestPictureInPicture</button>

        @* Events *@

        @* Ready *@
        <button data-testid="@BUTTON_REGISTER_ON_ERROR" @onclick="RegisterOnError">RegisterOnError</button>
        <button data-testid="@BUTTON_REGISTER_ON_CAN_PLAY" @onclick="RegisterOnCanPlay">RegisterOnCanPlay</button>
        <button data-testid="@BUTTON_REGISTER_ON_CAN_PLAY_THROUGH" @onclick="RegisterOnCanPlayThrough">RegisterOnCanPlayThrough</button>
        <button data-testid="@BUTTON_REGISTER_ON_PLAYING" @onclick="RegisterOnPlaying">RegisterOnPlaying</button>

        @* Data *@
        <button data-testid="@BUTTON_REGISTER_ON_LOAD_START" @onclick="RegisterOnLoadStart">RegisterOnLoadStart</button>
        <button data-testid="@BUTTON_REGISTER_ON_PROGRESS" @onclick="RegisterOnProgress">RegisterOnProgress</button>
        <button data-testid="@BUTTON_REGISTER_ON_LOADED_DATA" @onclick="RegisterOnLoadedData">RegisterOnLoadedData</button>
        <button data-testid="@BUTTON_REGISTER_ON_LOADED_METADATA" @onclick="RegisterOnLoadedMetadata">RegisterOnLoadedMetadata</button>
        <button data-testid="@BUTTON_REGISTER_ON_STALLED" @onclick="RegisterOnStalled">RegisterOnStalled</button>
        <button data-testid="@BUTTON_REGISTER_ON_SUSPEND" @onclick="RegisterOnSuspend">RegisterOnSuspend</button>
        <button data-testid="@BUTTON_REGISTER_ON_WAITING" @onclick="RegisterOnWaiting">RegisterOnWaiting</button>
        <button data-testid="@BUTTON_REGISTER_ON_ABORT" @onclick="RegisterOnAbort">RegisterOnAbort</button>
        <button data-testid="@BUTTON_REGISTER_ON_EMPTIED" @onclick="RegisterOnEmptied">RegisterOnEmptied</button>

        @* Timing *@
        <button data-testid="@BUTTON_REGISTER_ON_PLAY" @onclick="RegisterOnPlay">RegisterOnPlay</button>
        <button data-testid="@BUTTON_REGISTER_ON_PAUSE" @onclick="RegisterOnPause">RegisterOnPause</button>
        <button data-testid="@BUTTON_REGISTER_ON_ENDED" @onclick="RegisterOnEnded">RegisterOnEnded</button>
        <button data-testid="@BUTTON_REGISTER_ON_SEEKING" @onclick="RegisterOnSeeking">RegisterOnSeeking</button>
        <button data-testid="@BUTTON_REGISTER_ON_SEEKED" @onclick="RegisterOnSeeked">RegisterOnSeeked</button>
        <button data-testid="@BUTTON_REGISTER_ON_TIME_UPDATE" @onclick="RegisterOnTimeUpdate">RegisterOnTimeUpdate</button>

        @* Setting *@
        <button data-testid="@BUTTON_REGISTER_ON_VOLUME_CHANGE" @onclick="RegisterOnVolumeChange">RegisterOnVolumeChange</button>
        <button data-testid="@BUTTON_REGISTER_ON_RATE_CHANGE" @onclick="RegisterOnRateChange">RegisterOnRateChange</button>
        <button data-testid="@BUTTON_REGISTER_ON_DURATION_CHANGE" @onclick="RegisterOnDurationChange">RegisterOnDurationChange</button>

        @* Video *@
        <button data-testid="@BUTTON_REGISTER_ON_RESIZE" @onclick="RegisterOnResize">RegisterOnResize</button>
        <button data-testid="@BUTTON_REGISTER_ON_ENTER_PICTURE_IN_PICTURE" @onclick="RegisterOnEnterPictureInPicture">RegisterOnEnterPictureInPicture</button>
        <button data-testid="@BUTTON_REGISTER_ON_LEAVE_PICTURE_IN_PICTURE" @onclick="RegisterOnLeavePictureInPicture">RegisterOnLeavePictureInPicture</button>
    </div>
    <label data-testid="@LABEL_OUTPUT">@labelOutput</label>
    <audio data-testid="@AUDIO_ELEMENT" @ref="audioElement" src="HTMLMediaElement_audio.mp3" preload="metadata" controls></audio>
    <video data-testid="@VIDEO_ELEMENT" @ref="videoElement" src="HTMLMediaElement_video.mp4" width="160" height="90" preload="metadata" controls></video>
</div>
