@namespace BrowserAPI.Test.Client

<div class="group">
    <h2>HTML Element</h2>
    <div>
        <button data-testid="@BUTTON_TO_HTML_DIALOG_ELEMENT" @onclick="ToHTMLDialogElement">ToHTMLDialogElement</button>
        <button data-testid="@BUTTON_TO_HTML_MEDIA_ELEMENT" @onclick="ToHTMLMediaElement">ToHTMLMediaElement</button>

        @* HTMLElement *@

        <button data-testid="@BUTTON_GET_ACCESS_KEY_PROPERTY" @onclick="GetAccessKey_Property">GetAccessKey_Property</button>
        <button data-testid="@BUTTON_GET_ACCESS_KEY_METHOD" @onclick="GetAccessKey_Method">GetAccessKey_Method</button>
        <button data-testid="@BUTTON_SET_ACCESS_KEY" @onclick="SetAccessKey">SetAccessKey</button>

        <button data-testid="@BUTTON_GET_ACCESS_KEY_LABEL_PROPERTY" @onclick="GetAccessKeyLabel_Property">GetAccessKeyLabel_Property</button>
        <button data-testid="@BUTTON_GET_ACCESS_KEY_LABEL_METHOD" @onclick="GetAccessKeyLabel_Method">GetAccessKeyLabel_Method</button>

        <button data-testid="@BUTTON_GET_ATTRIBUTE_STYLE_MAP_PROPERTY" @onclick="GetAttributeStyleMap_Property">GetAttributeStyleMap_Property</button>
        <button data-testid="@BUTTON_GET_ATTRIBUTE_STYLE_MAP_METHOD" @onclick="GetAttributeStyleMap_Method">GetAttributeStyleMap_Method</button>
        <button data-testid="@BUTTON_SET_ATTRIBUTE_STYLE_MAP" @onclick="SetAttributeStyleMap">SetAttributeStyleMap</button>
        <button data-testid="@BUTTON_REMOVE_ATTRIBUTE_STYLE_MAP" @onclick="RemoveAttributeStyleMap">RemoveAttributeStyleMap</button>

        <button data-testid="@BUTTON_GET_AUTOCAPITALIZE_PROPERTY" @onclick="GetAutocapitalize_Property">GetAutocapitalize_Property</button>
        <button data-testid="@BUTTON_GET_AUTOCAPITALIZE_METHOD" @onclick="GetAutocapitalize_Method">GetAutocapitalize_Method</button>
        <button data-testid="@BUTTON_SET_AUTOCAPITALIZE" @onclick="SetAutocapitalize">SetAutocapitalize</button>

        <button data-testid="@BUTTON_GET_AUTOFOCUS_PROPERTY" @onclick="GetAutofocus_Property">GetAutofocus_Property</button>
        <button data-testid="@BUTTON_GET_AUTOFOCUS_METHOD" @onclick="GetAutofocus_Method">GetAutofocus_Method</button>
        <button data-testid="@BUTTON_SET_AUTOFOCUS" @onclick="SetAutofocus">SetAutofocus</button>

        <button data-testid="@BUTTON_GET_CONTENT_EDITABLE_PROPERTY" @onclick="GetContentEditable_Property">GetContentEditable_Property</button>
        <button data-testid="@BUTTON_GET_CONTENT_EDITABLE_METHOD" @onclick="GetContentEditable_Method">GetContentEditable_Method</button>
        <button data-testid="@BUTTON_SET_CONTENT_EDITABLE" @onclick="SetContentEditable">SetContentEditable</button>

        <button data-testid="@BUTTON_GET_DATASET_PROPERTY" @onclick="GetDataset_Property">GetDataset_Property</button>
        <button data-testid="@BUTTON_GET_DATASET_METHOD" @onclick="GetDataset_Method">GetDataset_Method</button>
        <button data-testid="@BUTTON_SET_DATASET" @onclick="SetDataset">SetDataset</button>
        <button data-testid="@BUTTON_REMOVE_DATASET" @onclick="RemoveDataset">RemoveDataset</button>

        <button data-testid="@BUTTON_GET_DIR_PROPERTY" @onclick="GetDir_Property">GetDir_Property</button>
        <button data-testid="@BUTTON_GET_DIR_METHOD" @onclick="GetDir_Method">GetDir_Method</button>
        <button data-testid="@BUTTON_SET_DIR" @onclick="SetDir">SetDir</button>

        <button data-testid="@BUTTON_GET_DRAGGABLE_PROPERTY" @onclick="GetDraggable_Property">GetDraggable_Property</button>
        <button data-testid="@BUTTON_GET_DRAGGABLE_METHOD" @onclick="GetDraggable_Method">GetDraggable_Method</button>
        <button data-testid="@BUTTON_SET_DRAGGABLE" @onclick="SetDraggable">SetDraggable</button>

        <button data-testid="@BUTTON_GET_ENTER_KEY_HINT_PROPERTY" @onclick="GetEnterKeyHint_Property">GetEnterKeyHint_Property</button>
        <button data-testid="@BUTTON_GET_ENTER_KEY_HINT_METHOD" @onclick="GetEnterKeyHint_Method">GetEnterKeyHint_Method</button>
        <button data-testid="@BUTTON_SET_ENTER_KEY_HINT" @onclick="SetEnterKeyHint">SetEnterKeyHint</button>

        <button data-testid="@BUTTON_GET_HIDDEN_PROPERTY" @onclick="GetHidden_Property">GetHidden_Property</button>
        <button data-testid="@BUTTON_GET_HIDDEN_METHOD" @onclick="GetHidden_Method">GetHidden_Method</button>
        <button data-testid="@BUTTON_SET_HIDDEN" @onclick="SetHidden">SetHidden</button>

        <button data-testid="@BUTTON_GET_INERT_PROPERTY" @onclick="GetInert_Property">GetInert_Property</button>
        <button data-testid="@BUTTON_GET_INERT_METHOD" @onclick="GetInert_Method">GetInert_Method</button>
        <button data-testid="@BUTTON_SET_INERT" @onclick="SetInert">SetInert</button>

        <button data-testid="@BUTTON_GET_INNERTEXT_PROPERTY" @onclick="GetInnerText_Property">GetInnerText_Property</button>
        <button data-testid="@BUTTON_GET_INNERTEXT_METHOD" @onclick="GetInnerText_Method">GetInnerText_Method</button>
        <button data-testid="@BUTTON_SET_INNERTEXT" @onclick="SetInnerText">SetInnerText</button>

        <button data-testid="@BUTTON_GET_INPUT_MODE_PROPERTY" @onclick="GetInputMode_Property">GetInputMode_Property</button>
        <button data-testid="@BUTTON_GET_INPUT_MODE_METHOD" @onclick="GetInputMode_Method">GetInputMode_Method</button>
        <button data-testid="@BUTTON_SET_INPUT_MODE" @onclick="SetInputMode">SetInputMode</button>

        <button data-testid="@BUTTON_GET_IS_CONTENT_EDITABLE_PROPERTY" @onclick="GetIsContentEditable_Property">GetIsContentEditable_Property</button>
        <button data-testid="@BUTTON_GET_IS_CONTENT_EDITABLE_METHOD" @onclick="GetIsContentEditable_Method">GetIsContentEditable_Method</button>

        <button data-testid="@BUTTON_GET_LANG_PROPERTY" @onclick="GetLang_Property">GetLang_Property</button>
        <button data-testid="@BUTTON_GET_LANG_METHOD" @onclick="GetLang_Method">GetLang_Method</button>
        <button data-testid="@BUTTON_SET_LANG" @onclick="SetLang">SetLang</button>

        <button data-testid="@BUTTON_GET_NONCE_PROPERTY" @onclick="GetNonce_Property">GetNonce_Property</button>
        <button data-testid="@BUTTON_GET_NONCE_METHOD" @onclick="GetNonce_Method">GetNonce_Method</button>
        <button data-testid="@BUTTON_SET_NONCE" @onclick="SetNonce">SetNonce</button>

        <button data-testid="@BUTTON_GET_OFFSETWIDTH_PROPERTY" @onclick="GetOffsetWidth_Property">GetOffsetWidth_Property</button>
        <button data-testid="@BUTTON_GET_OFFSETWIDTH_METHOD" @onclick="GetOffsetWidth_Method">GetOffsetWidth_Method</button>
        <button data-testid="@BUTTON_GET_OFFSETHEIGHT_PROPERTY" @onclick="GetOffsetHeight_Property">GetOffsetHeight_Property</button>
        <button data-testid="@BUTTON_GET_OFFSETHEIGHT_METHOD" @onclick="GetOffsetHeight_Method">GetOffsetHeight_Method</button>
        <button data-testid="@BUTTON_GET_OFFSETLEFT_PROPERTY" @onclick="GetOffsetLeft_Property">GetOffsetLeft_Property</button>
        <button data-testid="@BUTTON_GET_OFFSETLEFT_METHOD" @onclick="GetOffsetLeft_Method">GetOffsetLeft_Method</button>
        <button data-testid="@BUTTON_GET_OFFSETTOP_PROPERTY" @onclick="GetOffsetTop_Property">GetOffsetTop_Property</button>
        <button data-testid="@BUTTON_GET_OFFSETTOP_METHOD" @onclick="GetOffsetTop_Method">GetOffsetTop_Method</button>
        <button data-testid="@BUTTON_GET_OFFSETPARENT_PROPERTY" @onclick="GetOffsetParent_Property">GetOffsetParent_Property</button>
        <button data-testid="@BUTTON_GET_OFFSETPARENT_METHOD" @onclick="GetOffsetParent_Method">GetOffsetParent_Method</button>

        <button data-testid="@BUTTON_GET_OUTERTEXT_PROPERTY" @onclick="GetOuterText_Property">GetOuterText_Property</button>
        <button data-testid="@BUTTON_GET_OUTERTEXT_METHOD" @onclick="GetOuterText_Method">GetOuterText_Method</button>
        <button data-testid="@BUTTON_SET_OUTERTEXT" @onclick="SetOuterText">SetOuterText</button>

        <button data-testid="@BUTTON_GET_POPOVER_PROPERTY" @onclick="GetPopover_Property">GetPopover_Property</button>
        <button data-testid="@BUTTON_GET_POPOVER_METHOD" @onclick="GetPopover_Method">GetPopover_Method</button>
        <button data-testid="@BUTTON_SET_POPOVER" @onclick="SetPopover">SetPopover</button>

        <button data-testid="@BUTTON_GET_SPELLCHECK_PROPERTY" @onclick="GetSpellcheck_Property">GetSpellcheck_Property</button>
        <button data-testid="@BUTTON_GET_SPELLCHECK_METHOD" @onclick="GetSpellcheck_Method">GetSpellcheck_Method</button>
        <button data-testid="@BUTTON_SET_SPELLCHECK" @onclick="SetSpellcheck">SetSpellcheck</button>

        <button data-testid="@BUTTON_GET_STYLE_PROPERTY" @onclick="GetStyle_Property">GetStyle_Property</button>
        <button data-testid="@BUTTON_GET_STYLE_METHOD" @onclick="GetStyle_Method">GetStyle_Method</button>
        <button data-testid="@BUTTON_SET_STYLE" @onclick="SetStyle">SetStyle</button>

        <button data-testid="@BUTTON_GET_TAB_INDEX_PROPERTY" @onclick="GetTabIndex_Property">GetTabIndex_Property</button>
        <button data-testid="@BUTTON_GET_TAB_INDEX_METHOD" @onclick="GetTabIndex_Method">GetTabIndex_Method</button>
        <button data-testid="@BUTTON_SET_TAB_INDEX" @onclick="SetTabIndex">SetTabIndex</button>

        <button data-testid="@BUTTON_GET_TITLE_PROPERTY" @onclick="GetTitle_Property">GetTitle_Property</button>
        <button data-testid="@BUTTON_GET_TITLE_METHOD" @onclick="GetTitle_Method">GetTitle_Method</button>
        <button data-testid="@BUTTON_SET_TITLE" @onclick="SetTitle">SetTitle</button>

        <button data-testid="@BUTTON_GET_TRANSLATE_PROPERTY" @onclick="GetTranslate_Property">GetTranslate_Property</button>
        <button data-testid="@BUTTON_GET_TRANSLATE_METHOD" @onclick="GetTranslate_Method">GetTranslate_Method</button>
        <button data-testid="@BUTTON_SET_TRANSLATE" @onclick="SetTranslate">SetTranslate</button>

        @* HTMLElement extra *@
        <button data-testid="@BUTTON_GET_HASFOCUS_PROPERTY" @onclick="GetHasFocus_Property" @onpointerenter="GetHasFocus_Property">GetHasFocus_Property</button>
        <button data-testid="@BUTTON_GET_HASFOCUS_METHOD" @onclick="GetHasFocus_Method" @onpointerenter="GetHasFocus_Method">GetHasFocus_Method</button>

        @* HTMLElement Methods *@
        <button data-testid="@BUTTON_CLICK" @onclick="Click">Click</button>
        <button data-testid="@BUTTON_FOCUS" @onclick="Focus">Focus</button>
        <button data-testid="@BUTTON_BLUR" @onclick="Blur" @onpointerenter="Blur">Blur</button>
        <button data-testid="@BUTTON_SHOW_POPOVER" @onclick="ShowPopover">ShowPopover</button>
        <button data-testid="@BUTTON_HIDE_POPOVER" @onclick="HidePopover">HidePopover</button>
        <button data-testid="@BUTTON_TOGGLE_POPOVER" @onclick="TogglePopover">TogglePopover</button>
        <button data-testid="@BUTTON_TOGGLE_POPOVER_PARAMETER" @onclick="TogglePopoverParameter">TogglePopoverParameter</button>

        @* HTMLElement Events *@
        <button data-testid="@BUTTON_REGISTER_ON_CHANGE" @onclick="RegisterOnChange">RegisterOnChange</button>
        <button data-testid="@BUTTON_REGISTER_ON_COMMAND" @onclick="RegisterOnCommand">RegisterOnCommand</button>
        <button data-testid="@BUTTON_REGISTER_ON_LOAD" @onclick="RegisterOnLoad">RegisterOnLoad</button>
        <button data-testid="@BUTTON_REGISTER_ON_ERROR" @onclick="RegisterOnError">RegisterOnError</button>

        <button data-testid="@BUTTON_REGISTER_ON_DRAG" @onclick="RegisterOnDrag">RegisterOnDrag</button>
        <button data-testid="@BUTTON_REGISTER_ON_DRAG_START" @onclick="RegisterOnDragStart">RegisterOnDragStart</button>
        <button data-testid="@BUTTON_REGISTER_ON_DRAG_END" @onclick="RegisterOnDragEnd">RegisterOnDragEnd</button>
        <button data-testid="@BUTTON_REGISTER_ON_DRAG_ENTER" @onclick="RegisterOnDragEnter">RegisterOnDragEnter</button>
        <button data-testid="@BUTTON_REGISTER_ON_DRAG_LEAVE" @onclick="RegisterOnDragLeave">RegisterOnDragLeave</button>
        <button data-testid="@BUTTON_REGISTER_ON_DRAG_OVER" @onclick="RegisterOnDragOver">RegisterOnDragOver</button>
        <button data-testid="@BUTTON_REGISTER_ON_DROP" @onclick="RegisterOnDrop">RegisterOnDrop</button>

        <button data-testid="@BUTTON_REGISTER_ON_TOGGLE" @onclick="RegisterOnToggle">RegisterOnToggle</button>
        <button data-testid="@BUTTON_REGISTER_ON_BEFORE_TOGGLE" @onclick="RegisterOnBeforeToggle">RegisterOnBeforeToggle</button>

        @* Node/Element *@

        <button data-testid="@BUTTON_GET_ATTRIBUTES_PROPERTY" @onclick="GetAttributes_Property">GetAttributes_Property</button>
        <button data-testid="@BUTTON_GET_ATTRIBUTES_METHOD" @onclick="GetAttributes_Method">GetAttributes_Method</button>

        <button data-testid="@BUTTON_GET_CLASS_LIST_PROPERTY" @onclick="GetClassList_Property">GetClassList_Property</button>
        <button data-testid="@BUTTON_GET_CLASS_LIST_METHOD" @onclick="GetClassList_Method">GetClassList_Method</button>

        <button data-testid="@BUTTON_GET_CLASS_NAME_PROPERTY" @onclick="GetClassName_Property">GetClassName_Property</button>
        <button data-testid="@BUTTON_GET_CLASS_NAME_METHOD" @onclick="GetClassName_Method">GetClassName_Method</button>
        <button data-testid="@BUTTON_SET_CLASS_NAME" @onclick="SetClassName">SetClassName</button>

        <button data-testid="@BUTTON_GET_CLIENT_WIDTH_PROPERTY" @onclick="GetClientWidth_Property">GetClientWidth_Property</button>
        <button data-testid="@BUTTON_GET_CLIENT_WIDTH_METHOD" @onclick="GetClientWidth_Method">GetClientWidth_Method</button>
        <button data-testid="@BUTTON_GET_CLIENT_HEIGHT_PROPERTY" @onclick="GetClientHeight_Property">GetClientHeight_Property</button>
        <button data-testid="@BUTTON_GET_CLIENT_HEIGHT_METHOD" @onclick="GetClientHeight_Method">GetClientHeight_Method</button>
        <button data-testid="@BUTTON_GET_CLIENT_LEFT_PROPERTY" @onclick="GetClientLeft_Property">GetClientLeft_Property</button>
        <button data-testid="@BUTTON_GET_CLIENT_LEFT_METHOD" @onclick="GetClientLeft_Method">GetClientLeft_Method</button>
        <button data-testid="@BUTTON_GET_CLIENT_TOP_PROPERTY" @onclick="GetClientTop_Property">GetClientTop_Property</button>
        <button data-testid="@BUTTON_GET_CLIENT_TOP_METHOD" @onclick="GetClientTop_Method">GetClientTop_Method</button>

        <button data-testid="@BUTTON_GET_CURRENT_CSS_ZOOM_PROPERTY" @onclick="GetCurrentCSSZoom_Property">GetCurrentCSSZoom_Property</button>
        <button data-testid="@BUTTON_GET_CURRENT_CSS_ZOOM_METHOD" @onclick="GetCurrentCSSZoom_Method">GetCurrentCSSZoom_Method</button>

        <button data-testid="@BUTTON_GET_ID_PROPERTY" @onclick="GetId_Property">GetId_Property</button>
        <button data-testid="@BUTTON_GET_ID_METHOD" @onclick="GetId_Method">GetId_Method</button>
        <button data-testid="@BUTTON_SET_ID" @onclick="SetId">SetId</button>

        <button data-testid="@BUTTON_GET_IS_CONNECTED_PROPERTY" @onclick="GetIsConnected_Property">GetIsConnected_Property</button>
        <button data-testid="@BUTTON_GET_IS_CONNECTED_METHOD" @onclick="GetIsConnected_Method">GetIsConnected_Method</button>

        <button data-testid="@BUTTON_GET_INNER_HTML_PROPERTY" @onclick="GetInnerHTML_Property">GetInnerHTML_Property</button>
        <button data-testid="@BUTTON_GET_INNER_HTML_METHOD" @onclick="GetInnerHTML_Method">GetInnerHTML_Method</button>
        <button data-testid="@BUTTON_SET_INNER_HTML" @onclick="SetInnerHTML">SetInnerHTML</button>

        <button data-testid="@BUTTON_GET_OUTER_HTML_PROPERTY" @onclick="GetOuterHTML_Property">GetOuterHTML_Property</button>
        <button data-testid="@BUTTON_GET_OUTER_HTML_METHOD" @onclick="GetOuterHTML_Method">GetOuterHTML_Method</button>
        <button data-testid="@BUTTON_SET_OUTER_HTML" @onclick="SetOuterHTML">SetOuterHTML</button>

        <button data-testid="@BUTTON_GET_PART_PROPERTY" @onclick="GetPart_Property">GetPart_Property</button>
        <button data-testid="@BUTTON_GET_PART_METHOD" @onclick="GetPart_Method">GetPart_Method</button>

        <button data-testid="@BUTTON_GET_SCROLL_WIDTH_PROPERTY" @onclick="GetScrollWidth_Property">GetScrollWidth_Property</button>
        <button data-testid="@BUTTON_GET_SCROLL_WIDTH_METHOD" @onclick="GetScrollWidth_Method">GetScrollWidth_Method</button>
        <button data-testid="@BUTTON_GET_SCROLL_HEIGHT_PROPERTY" @onclick="GetScrollHeight_Property">GetScrollHeight_Property</button>
        <button data-testid="@BUTTON_GET_SCROLL_HEIGHT_METHOD" @onclick="GetScrollHeight_Method">GetScrollHeight_Method</button>
        <button data-testid="@BUTTON_GET_SCROLL_LEFT_PROPERTY" @onclick="GetScrollLeft_Property">GetScrollLeft_Property</button>
        <button data-testid="@BUTTON_GET_SCROLL_LEFT_METHOD" @onclick="GetScrollLeft_Method">GetScrollLeft_Method</button>
        <button data-testid="@BUTTON_SET_SCROLL_LEFT" @onclick="SetScrollLeft">SetScrollLeft</button>
        <button data-testid="@BUTTON_GET_SCROLL_TOP_PROPERTY" @onclick="GetScrollTop_Property">GetScrollTop_Property</button>
        <button data-testid="@BUTTON_GET_SCROLL_TOP_METHOD" @onclick="GetScrollTop_Method">GetScrollTop_Method</button>
        <button data-testid="@BUTTON_SET_SCROLL_TOP" @onclick="SetScrollTop">SetScrollTop</button>

        <button data-testid="@BUTTON_GET_SLOT_PROPERTY" @onclick="GetSlot_Property">GetSlot_Property</button>
        <button data-testid="@BUTTON_GET_SLOT_METHOD" @onclick="GetSlot_Method">GetSlot_Method</button>
        <button data-testid="@BUTTON_SET_SLOT" @onclick="SetSlot">SetSlot</button>

        <button data-testid="@BUTTON_GET_TEXT_CONTENT_PROPERTY" @onclick="GetTextContent_Property">GetTextContent_Property</button>
        <button data-testid="@BUTTON_GET_TEXT_CONTENT_METHOD" @onclick="GetTextContent_Method">GetTextContent_Method</button>
        <button data-testid="@BUTTON_SET_TEXT_CONTENT" @onclick="SetTextContent">SetTextContent</button>

        <button data-testid="@BUTTON_GET_LOCAL_NAME_PROPERTY" @onclick="GetLocalName_Property">GetLocalName_Property</button>
        <button data-testid="@BUTTON_GET_LOCAL_NAME_METHOD" @onclick="GetLocalName_Method">GetLocalName_Method</button>
        <button data-testid="@BUTTON_GET_NAMESPACE_URI_PROPERTY" @onclick="GetNamespaceURI_Property">GetNamespaceURI_Property</button>
        <button data-testid="@BUTTON_GET_NAMESPACE_URI_METHOD" @onclick="GetNamespaceURI_Method">GetNamespaceURI_Method</button>
        <button data-testid="@BUTTON_GET_PREFIX_PROPERTY" @onclick="GetPrefix_Property">GetPrefix_Property</button>
        <button data-testid="@BUTTON_GET_PREFIX_METHOD" @onclick="GetPrefix_Method">GetPrefix_Method</button>
        <button data-testid="@BUTTON_GET_BASE_URI_PROPERTY" @onclick="GetBaseURI_Property">GetBaseURI_Property</button>
        <button data-testid="@BUTTON_GET_BASE_URI_METHOD" @onclick="GetBaseURI_Method">GetBaseURI_Method</button>
        <button data-testid="@BUTTON_GET_TAG_NAME_PROPERTY" @onclick="GetTagName_Property">GetTagName_Property</button>
        <button data-testid="@BUTTON_GET_TAG_NAME_METHOD" @onclick="GetTagName_Method">GetTagName_Method</button>
        <button data-testid="@BUTTON_GET_NODE_NAME_PROPERTY" @onclick="GetNodeName_Property">GetNodeName_Property</button>
        <button data-testid="@BUTTON_GET_NODE_NAME_METHOD" @onclick="GetNodeName_Method">GetNodeName_Method</button>
        <button data-testid="@BUTTON_GET_NODE_TYPE_PROPERTY" @onclick="GetNodeType_Property">GetNodeType_Property</button>
        <button data-testid="@BUTTON_GET_NODE_TYPE_METHOD" @onclick="GetNodeType_Method">GetNodeType_Method</button>

        @* Node/Element Properties - Tree-nodes *@

        <button data-testid="@BUTTON_GET_CHILD_ELEMENT_COUNT_PROPERTY" @onclick="GetChildElementCount_Property">GetChildElementCount_Property</button>
        <button data-testid="@BUTTON_GET_CHILD_ELEMENT_COUNT_METHOD" @onclick="GetChildElementCount_Method">GetChildElementCount_Method</button>

        <button data-testid="@BUTTON_GET_CHILDREN_PROPERTY" @onclick="GetChildren_Property">GetChildren_Property</button>
        <button data-testid="@BUTTON_GET_CHILDREN_METHOD" @onclick="GetChildren_Method">GetChildren_Method</button>

        <button data-testid="@BUTTON_GET_FIRST_ELEMENT_CHILD_PROPERTY" @onclick="GetFirstElementChild_Property">GetFirstElementChild_Property</button>
        <button data-testid="@BUTTON_GET_FIRST_ELEMENT_CHILD_METHOD" @onclick="GetFirstElementChild_Method">GetFirstElementChild_Method</button>

        <button data-testid="@BUTTON_GET_LAST_ELEMENT_CHILD_PROPERTY" @onclick="GetLastElementChild_Property">GetLastElementChild_Property</button>
        <button data-testid="@BUTTON_GET_LAST_ELEMENT_CHILD_METHOD" @onclick="GetLastElementChild_Method">GetLastElementChild_Method</button>

        <button data-testid="@BUTTON_GET_PREVIOUS_ELEMENT_SIBLING_PROPERTY" @onclick="GetPreviousElementSibling_Property">GetPreviousElementSibling_Property</button>
        <button data-testid="@BUTTON_GET_PREVIOUS_ELEMENT_SIBLING_METHOD" @onclick="GetPreviousElementSibling_Method">GetPreviousElementSibling_Method</button>

        <button data-testid="@BUTTON_GET_NEXT_ELEMENT_SIBLING_PROPERTY" @onclick="GetNextElementSibling_Property">GetNextElementSibling_Property</button>
        <button data-testid="@BUTTON_GET_NEXT_ELEMENT_SIBLING_METHOD" @onclick="GetNextElementSibling_Method">GetNextElementSibling_Method</button>

        <button data-testid="@BUTTON_GET_PARENT_ELEMENT_PROPERTY" @onclick="GetParentElement_Property">GetParentElement_Property</button>
        <button data-testid="@BUTTON_GET_PARENT_ELEMENT_METHOD" @onclick="GetParentElement_Method">GetParentElement_Method</button>

        @* Node/Element Properties - ARIA *@

        <button data-testid="@BUTTON_GET_ARIA_ATOMIC_PROPERTY" @onclick="GetAriaAtomic_Property">GetAriaAtomic_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_ATOMIC_METHOD" @onclick="GetAriaAtomic_Method">GetAriaAtomic_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_ATOMIC" @onclick="SetAriaAtomic">SetAriaAtomic</button>

        <button data-testid="@BUTTON_GET_ARIA_AUTO_COMPLETE_PROPERTY" @onclick="GetAriaAutoComplete_Property">GetAriaAutoComplete_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_AUTO_COMPLETE_METHOD" @onclick="GetAriaAutoComplete_Method">GetAriaAutoComplete_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_AUTO_COMPLETE" @onclick="SetAriaAutoComplete">SetAriaAutoComplete</button>

        <button data-testid="@BUTTON_GET_ARIA_BRAILLE_LABEL_PROPERTY" @onclick="GetAriaBrailleLabel_Property">GetAriaBrailleLabel_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_BRAILLE_LABEL_METHOD" @onclick="GetAriaBrailleLabel_Method">GetAriaBrailleLabel_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_BRAILLE_LABEL" @onclick="SetAriaBrailleLabel">SetAriaBrailleLabel</button>

        <button data-testid="@BUTTON_GET_ARIA_BRAILLE_ROLE_DESCRIPTION_PROPERTY" @onclick="GetAriaBrailleRoleDescription_Property">GetAriaBrailleRoleDescription_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_BRAILLE_ROLE_DESCRIPTION_METHOD" @onclick="GetAriaBrailleRoleDescription_Method">GetAriaBrailleRoleDescription_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_BRAILLE_ROLE_DESCRIPTION" @onclick="SetAriaBrailleRoleDescription">SetAriaBrailleRoleDescription</button>

        <button data-testid="@BUTTON_GET_ARIA_BUSY_PROPERTY" @onclick="GetAriaBusy_Property">GetAriaBusy_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_BUSY_METHOD" @onclick="GetAriaBusy_Method">GetAriaBusy_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_BUSY" @onclick="SetAriaBusy">SetAriaBusy</button>

        <button data-testid="@BUTTON_GET_ARIA_CHECKED_PROPERTY" @onclick="GetAriaChecked_Property">GetAriaChecked_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_CHECKED_METHOD" @onclick="GetAriaChecked_Method">GetAriaChecked_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_CHECKED" @onclick="SetAriaChecked">SetAriaChecked</button>

        <button data-testid="@BUTTON_GET_ARIA_COL_COUNT_PROPERTY" @onclick="GetAriaColCount_Property">GetAriaColCount_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_COL_COUNT_METHOD" @onclick="GetAriaColCount_Method">GetAriaColCount_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_COL_COUNT" @onclick="SetAriaColCount">SetAriaColCount</button>

        <button data-testid="@BUTTON_GET_ARIA_COL_INDEX_PROPERTY" @onclick="GetAriaColIndex_Property">GetAriaColIndex_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_COL_INDEX_METHOD" @onclick="GetAriaColIndex_Method">GetAriaColIndex_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_COL_INDEX" @onclick="SetAriaColIndex">SetAriaColIndex</button>

        <button data-testid="@BUTTON_GET_ARIA_COL_INDEX_TEXT_PROPERTY" @onclick="GetAriaColIndexText_Property">GetAriaColIndexText_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_COL_INDEX_TEXT_METHOD" @onclick="GetAriaColIndexText_Method">GetAriaColIndexText_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_COL_INDEX_TEXT" @onclick="SetAriaColIndexText">SetAriaColIndexText</button>

        <button data-testid="@BUTTON_GET_ARIA_COL_SPAN_PROPERTY" @onclick="GetAriaColSpan_Property">GetAriaColSpan_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_COL_SPAN_METHOD" @onclick="GetAriaColSpan_Method">GetAriaColSpan_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_COL_SPAN" @onclick="SetAriaColSpan">SetAriaColSpan</button>

        <button data-testid="@BUTTON_GET_ARIA_CURRENT_PROPERTY" @onclick="GetAriaCurrent_Property">GetAriaCurrent_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_CURRENT_METHOD" @onclick="GetAriaCurrent_Method">GetAriaCurrent_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_CURRENT" @onclick="SetAriaCurrent">SetAriaCurrent</button>

        <button data-testid="@BUTTON_GET_ARIA_DESCRIPTION_PROPERTY" @onclick="GetAriaDescription_Property">GetAriaDescription_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_DESCRIPTION_METHOD" @onclick="GetAriaDescription_Method">GetAriaDescription_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_DESCRIPTION" @onclick="SetAriaDescription">SetAriaDescription</button>

        <button data-testid="@BUTTON_GET_ARIA_DISABLED_PROPERTY" @onclick="GetAriaDisabled_Property">GetAriaDisabled_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_DISABLED_METHOD" @onclick="GetAriaDisabled_Method">GetAriaDisabled_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_DISABLED" @onclick="SetAriaDisabled">SetAriaDisabled</button>

        <button data-testid="@BUTTON_GET_ARIA_EXPANDED_PROPERTY" @onclick="GetAriaExpanded_Property">GetAriaExpanded_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_EXPANDED_METHOD" @onclick="GetAriaExpanded_Method">GetAriaExpanded_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_EXPANDED" @onclick="SetAriaExpanded">SetAriaExpanded</button>

        <button data-testid="@BUTTON_GET_ARIA_HAS_POPUP_PROPERTY" @onclick="GetAriaHasPopup_Property">GetAriaHasPopup_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_HAS_POPUP_METHOD" @onclick="GetAriaHasPopup_Method">GetAriaHasPopup_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_HAS_POPUP" @onclick="SetAriaHasPopup">SetAriaHasPopup</button>

        <button data-testid="@BUTTON_GET_ARIA_HIDDEN_PROPERTY" @onclick="GetAriaHidden_Property">GetAriaHidden_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_HIDDEN_METHOD" @onclick="GetAriaHidden_Method">GetAriaHidden_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_HIDDEN" @onclick="SetAriaHidden">SetAriaHidden</button>

        <button data-testid="@BUTTON_GET_ARIA_INVALID_PROPERTY" @onclick="GetAriaInvalid_Property">GetAriaInvalid_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_INVALID_METHOD" @onclick="GetAriaInvalid_Method">GetAriaInvalid_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_INVALID" @onclick="SetAriaInvalid">SetAriaInvalid</button>

        <button data-testid="@BUTTON_GET_ARIA_KEY_SHORTCUTS_PROPERTY" @onclick="GetAriaKeyShortcuts_Property">GetAriaKeyShortcuts_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_KEY_SHORTCUTS_METHOD" @onclick="GetAriaKeyShortcuts_Method">GetAriaKeyShortcuts_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_KEY_SHORTCUTS" @onclick="SetAriaKeyShortcuts">SetAriaKeyShortcuts</button>

        <button data-testid="@BUTTON_GET_ARIA_LABEL_PROPERTY" @onclick="GetAriaLabel_Property">GetAriaLabel_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_LABEL_METHOD" @onclick="GetAriaLabel_Method">GetAriaLabel_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_LABEL" @onclick="SetAriaLabel">SetAriaLabel</button>

        <button data-testid="@BUTTON_GET_ARIA_LEVEL_PROPERTY" @onclick="GetAriaLevel_Property">GetAriaLevel_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_LEVEL_METHOD" @onclick="GetAriaLevel_Method">GetAriaLevel_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_LEVEL" @onclick="SetAriaLevel">SetAriaLevel</button>

        <button data-testid="@BUTTON_GET_ARIA_LIVE_PROPERTY" @onclick="GetAriaLive_Property">GetAriaLive_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_LIVE_METHOD" @onclick="GetAriaLive_Method">GetAriaLive_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_LIVE" @onclick="SetAriaLive">SetAriaLive</button>

        <button data-testid="@BUTTON_GET_ARIA_MODAL_PROPERTY" @onclick="GetAriaModal_Property">GetAriaModal_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_MODAL_METHOD" @onclick="GetAriaModal_Method">GetAriaModal_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_MODAL" @onclick="SetAriaModal">SetAriaModal</button>

        <button data-testid="@BUTTON_GET_ARIA_MULTILINE_PROPERTY" @onclick="GetAriaMultiline_Property">GetAriaMultiline_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_MULTILINE_METHOD" @onclick="GetAriaMultiline_Method">GetAriaMultiline_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_MULTILINE" @onclick="SetAriaMultiline">SetAriaMultiline</button>

        <button data-testid="@BUTTON_GET_ARIA_MULTI_SELECTABLE_PROPERTY" @onclick="GetAriaMultiSelectable_Property">GetAriaMultiSelectable_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_MULTI_SELECTABLE_METHOD" @onclick="GetAriaMultiSelectable_Method">GetAriaMultiSelectable_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_MULTI_SELECTABLE" @onclick="SetAriaMultiSelectable">SetAriaMultiSelectable</button>

        <button data-testid="@BUTTON_GET_ARIA_ORIENTATION_PROPERTY" @onclick="GetAriaOrientation_Property">GetAriaOrientation_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_ORIENTATION_METHOD" @onclick="GetAriaOrientation_Method">GetAriaOrientation_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_ORIENTATION" @onclick="SetAriaOrientation">SetAriaOrientation</button>

        <button data-testid="@BUTTON_GET_ARIA_PLACEHOLDER_PROPERTY" @onclick="GetAriaPlaceholder_Property">GetAriaPlaceholder_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_PLACEHOLDER_METHOD" @onclick="GetAriaPlaceholder_Method">GetAriaPlaceholder_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_PLACEHOLDER" @onclick="SetAriaPlaceholder">SetAriaPlaceholder</button>

        <button data-testid="@BUTTON_GET_ARIA_POS_IN_SET_PROPERTY" @onclick="GetAriaPosInSet_Property">GetAriaPosInSet_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_POS_IN_SET_METHOD" @onclick="GetAriaPosInSet_Method">GetAriaPosInSet_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_POS_IN_SET" @onclick="SetAriaPosInSet">SetAriaPosInSet</button>

        <button data-testid="@BUTTON_GET_ARIA_PRESSED_PROPERTY" @onclick="GetAriaPressed_Property">GetAriaPressed_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_PRESSED_METHOD" @onclick="GetAriaPressed_Method">GetAriaPressed_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_PRESSED" @onclick="SetAriaPressed">SetAriaPressed</button>

        <button data-testid="@BUTTON_GET_ARIA_READ_ONLY_PROPERTY" @onclick="GetAriaReadOnly_Property">GetAriaReadOnly_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_READ_ONLY_METHOD" @onclick="GetAriaReadOnly_Method">GetAriaReadOnly_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_READ_ONLY" @onclick="SetAriaReadOnly">SetAriaReadOnly</button>

        <button data-testid="@BUTTON_GET_ARIA_REQUIRED_PROPERTY" @onclick="GetAriaRequired_Property">GetAriaRequired_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_REQUIRED_METHOD" @onclick="GetAriaRequired_Method">GetAriaRequired_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_REQUIRED" @onclick="SetAriaRequired">SetAriaRequired</button>

        <button data-testid="@BUTTON_GET_ARIA_ROLE_DESCRIPTION_PROPERTY" @onclick="GetAriaRoleDescription_Property">GetAriaRoleDescription_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_ROLE_DESCRIPTION_METHOD" @onclick="GetAriaRoleDescription_Method">GetAriaRoleDescription_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_ROLE_DESCRIPTION" @onclick="SetAriaRoleDescription">SetAriaRoleDescription</button>

        <button data-testid="@BUTTON_GET_ARIA_ROW_COUNT_PROPERTY" @onclick="GetAriaRowCount_Property">GetAriaRowCount_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_ROW_COUNT_METHOD" @onclick="GetAriaRowCount_Method">GetAriaRowCount_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_ROW_COUNT" @onclick="SetAriaRowCount">SetAriaRowCount</button>

        <button data-testid="@BUTTON_GET_ARIA_ROW_INDEX_PROPERTY" @onclick="GetAriaRowIndex_Property">GetAriaRowIndex_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_ROW_INDEX_METHOD" @onclick="GetAriaRowIndex_Method">GetAriaRowIndex_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_ROW_INDEX" @onclick="SetAriaRowIndex">SetAriaRowIndex</button>

        <button data-testid="@BUTTON_GET_ARIA_ROW_INDEX_TEXT_PROPERTY" @onclick="GetAriaRowIndexText_Property">GetAriaRowIndexText_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_ROW_INDEX_TEXT_METHOD" @onclick="GetAriaRowIndexText_Method">GetAriaRowIndexText_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_ROW_INDEX_TEXT" @onclick="SetAriaRowIndexText">SetAriaRowIndexText</button>

        <button data-testid="@BUTTON_GET_ARIA_ROW_SPAN_PROPERTY" @onclick="GetAriaRowSpan_Property">GetAriaRowSpan_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_ROW_SPAN_METHOD" @onclick="GetAriaRowSpan_Method">GetAriaRowSpan_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_ROW_SPAN" @onclick="SetAriaRowSpan">SetAriaRowSpan</button>

        <button data-testid="@BUTTON_GET_ARIA_SELECTED_PROPERTY" @onclick="GetAriaSelected_Property">GetAriaSelected_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_SELECTED_METHOD" @onclick="GetAriaSelected_Method">GetAriaSelected_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_SELECTED" @onclick="SetAriaSelected">SetAriaSelected</button>

        <button data-testid="@BUTTON_GET_ARIA_SET_SIZE_PROPERTY" @onclick="GetAriaSetSize_Property">GetAriaSetSize_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_SET_SIZE_METHOD" @onclick="GetAriaSetSize_Method">GetAriaSetSize_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_SET_SIZE" @onclick="SetAriaSetSize">SetAriaSetSize</button>

        <button data-testid="@BUTTON_GET_ARIA_SORT_PROPERTY" @onclick="GetAriaSort_Property">GetAriaSort_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_SORT_METHOD" @onclick="GetAriaSort_Method">GetAriaSort_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_SORT" @onclick="SetAriaSort">SetAriaSort</button>

        <button data-testid="@BUTTON_GET_ARIA_VALUE_MAX_PROPERTY" @onclick="GetAriaValueMax_Property">GetAriaValueMax_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_VALUE_MAX_METHOD" @onclick="GetAriaValueMax_Method">GetAriaValueMax_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_VALUE_MAX" @onclick="SetAriaValueMax">SetAriaValueMax</button>

        <button data-testid="@BUTTON_GET_ARIA_VALUE_MIN_PROPERTY" @onclick="GetAriaValueMin_Property">GetAriaValueMin_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_VALUE_MIN_METHOD" @onclick="GetAriaValueMin_Method">GetAriaValueMin_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_VALUE_MIN" @onclick="SetAriaValueMin">SetAriaValueMin</button>

        <button data-testid="@BUTTON_GET_ARIA_VALUE_NOW_PROPERTY" @onclick="GetAriaValueNow_Property">GetAriaValueNow_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_VALUE_NOW_METHOD" @onclick="GetAriaValueNow_Method">GetAriaValueNow_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_VALUE_NOW" @onclick="SetAriaValueNow">SetAriaValueNow</button>

        <button data-testid="@BUTTON_GET_ARIA_VALUE_TEXT_PROPERTY" @onclick="GetAriaValueText_Property">GetAriaValueText_Property</button>
        <button data-testid="@BUTTON_GET_ARIA_VALUE_TEXT_METHOD" @onclick="GetAriaValueText_Method">GetAriaValueText_Method</button>
        <button data-testid="@BUTTON_SET_ARIA_VALUE_TEXT" @onclick="SetAriaValueText">SetAriaValueText</button>

        <button data-testid="@BUTTON_GET_ROLE_PROPERTY" @onclick="GetRole_Property">GetRole_Property</button>
        <button data-testid="@BUTTON_GET_ROLE_METHOD" @onclick="GetRole_Method">GetRole_Method</button>
        <button data-testid="@BUTTON_SET_ROLE" @onclick="SetRole">SetRole</button>

        @* Node/Element Methods *@

        <button data-testid="@BUTTON_CHECK_VISIBILITY" @onclick="CheckVisibility">CheckVisibility</button>
        <button data-testid="@BUTTON_COMPUTED_STYLE_MAP" @onclick="ComputedStyleMap">ComputedStyleMap</button>
        <button data-testid="@BUTTON_GET_BOUNDING_CLIENT_RECT" @onclick="GetBoundingClientRect">GetBoundingClientRect</button>
        <button data-testid="@BUTTON_GET_CLIENT_RECTS" @onclick="GetClientRects">GetClientRects</button>
        <button data-testid="@BUTTON_MATCHES" @onclick="Matches">Matches</button>
        <button data-testid="@BUTTON_REQUEST_FULLSCREEN" @onclick="RequestFullscreen">RequestFullscreen</button>
        <button data-testid="@BUTTON_REQUEST_POINTER_LOCK" @onclick="RequestPointerLock">RequestPointerLock</button>
        <button data-testid="@BUTTON_IS_DEFAULT_NAMESPACE" @onclick="IsDefaultNamespace">IsDefaultNamespace</button>
        <button data-testid="@BUTTON_LOOKUP_PREFIX" @onclick="LookupPrefix">LookupPrefix</button>
        <button data-testid="@BUTTON_LOOKUP_NAMESPACE_URI" @onclick="LookupNamespaceURI">LookupNamespaceURI</button>
        <button data-testid="@BUTTON_NORMALIZE" @onclick="Normalize">Normalize</button>

        @* Node/Element Methods - Scroll *@
        <button data-testid="@BUTTON_SCROLL" @onclick="Scroll">Scroll</button>
        <button data-testid="@BUTTON_SCROLL_TO" @onclick="ScrollTo">ScrollTo</button>
        <button data-testid="@BUTTON_SCROLL_BY" @onclick="ScrollBy">ScrollBy</button>
        <button data-testid="@BUTTON_SCROLL_INTO_VIEW" @onclick="ScrollIntoView">ScrollIntoView</button>

        @* Node/Element Methods - Attribute *@
        <button data-testid="@BUTTON_GET_ATTRIBUTE" @onclick="GetAttribute">GetAttribute</button>
        <button data-testid="@BUTTON_GET_ATTRIBUTE_NS" @onclick="GetAttributeNS">GetAttributeNS</button>
        <button data-testid="@BUTTON_GET_ATTRIBUTE_NAMES" @onclick="GetAttributeNames">GetAttributeNames</button>
        <button data-testid="@BUTTON_SET_ATTRIBUTE" @onclick="SetAttribute">SetAttribute</button>
        <button data-testid="@BUTTON_SET_ATTRIBUTE_NS" @onclick="SetAttributeNS">SetAttributeNS</button>
        <button data-testid="@BUTTON_TOGGLE_ATTRIBUTE" @onclick="ToggleAttribute">ToggleAttribute</button>
        <button data-testid="@BUTTON_REMOVE_ATTRIBUTE" @onclick="RemoveAttribute">RemoveAttribute</button>
        <button data-testid="@BUTTON_REMOVE_ATTRIBUTE_NS" @onclick="RemoveAttributeNS">RemoveAttributeNS</button>
        <button data-testid="@BUTTON_HAS_ATTRIBUTE" @onclick="HasAttribute">HasAttribute</button>
        <button data-testid="@BUTTON_HAS_ATTRIBUTE_NS" @onclick="HasAttributeNS">HasAttributeNS</button>
        <button data-testid="@BUTTON_HAS_ATTRIBUTES" @onclick="HasAttributes">HasAttributes</button>

        @* Node/Element Methods - Tree-nodes *@
        <button data-testid="@BUTTON_GET_ELEMENTS_BY_CLASS_NAME" @onclick="GetElementsByClassName">GetElementsByClassName</button>
        <button data-testid="@BUTTON_GET_ELEMENTS_BY_TAG_NAME" @onclick="GetElementsByTagName">GetElementsByTagName</button>
        <button data-testid="@BUTTON_GET_ELEMENTS_BY_TAG_NAME_NS" @onclick="GetElementsByTagNameNS">GetElementsByTagNameNS</button>
        <button data-testid="@BUTTON_QUERY_SELECTOR" @onclick="QuerySelector">QuerySelector</button>
        <button data-testid="@BUTTON_QUERY_SELECTOR_ALL" @onclick="QuerySelectorAll">QuerySelectorAll</button>
        <button data-testid="@BUTTON_CLOSEST" @onclick="Closest">Closest</button>

        <button data-testid="@BUTTON_BEFORE_STRING" @onclick="Before_String">Before_String</button>
        <button data-testid="@BUTTON_BEFORE_HTML_ELEMENT" @onclick="Before_HtmlElement">Before_HtmlElement</button>
        <button data-testid="@BUTTON_AFTER_STRING" @onclick="After_String">After_String</button>
        <button data-testid="@BUTTON_AFTER_HTML_ELEMENT" @onclick="After_HtmlElement">After_HtmlElement</button>

        <button data-testid="@BUTTON_PREPEND_STRING" @onclick="Prepend_String">Prepend_String</button>
        <button data-testid="@BUTTON_PREPEND_HTML_ELEMENT" @onclick="Prepend_HtmlElement">Prepend_HtmlElement</button>
        <button data-testid="@BUTTON_APPEND_CHILD" @onclick="AppendChild">AppendChild</button>
        <button data-testid="@BUTTON_APPEND_STRING" @onclick="Append_String">Append_String</button>
        <button data-testid="@BUTTON_APPEND_HTML_ELEMENT" @onclick="Append_HtmlElement">Append_HtmlElement</button>
        <button data-testid="@BUTTON_INSERT_ADJACENT_ELEMENT" @onclick="InsertAdjacentElement">InsertAdjacentElement</button>
        <button data-testid="@BUTTON_INSERT_ADJACENT_HTML" @onclick="InsertAdjacentHTML">InsertAdjacentHTML</button>
        <button data-testid="@BUTTON_INSERT_ADJACENT_TEXT" @onclick="InsertAdjacentText">InsertAdjacentText</button>

        <button data-testid="@BUTTON_REMOVE_CHILD" @onclick="RemoveChild">RemoveChild</button>
        <button data-testid="@BUTTON_REMOVE" @onclick="Remove">Remove</button>
        <button data-testid="@BUTTON_REPLACE_CHILD" @onclick="ReplaceChild">ReplaceChild</button>
        <button data-testid="@BUTTON_REPLACE_CHILD_INDEX" @onclick="ReplaceChild_Index">ReplaceChild_Index</button>
        <button data-testid="@BUTTON_REPLACE_WITH_STRING" @onclick="ReplaceWith_String">ReplaceWith_String</button>
        <button data-testid="@BUTTON_REPLACE_WITH_HTML_ELEMENT" @onclick="ReplaceWith_HtmlElement">ReplaceWith_HtmlElement</button>
        <button data-testid="@BUTTON_REPLACE_CHILDREN_STRING" @onclick="ReplaceChildren_String">ReplaceChildren_String</button>
        <button data-testid="@BUTTON_REPLACE_CHILDREN_HTML_ELEMENT" @onclick="ReplaceChildren_HtmlElement">ReplaceChildren_HtmlElement</button>

        <button data-testid="@BUTTON_CLONE_NODE" @onclick="CloneNode">CloneNode</button>
        <button data-testid="@BUTTON_IS_SAME_NODE" @onclick="IsSameNode">IsSameNode</button>
        <button data-testid="@BUTTON_IS_EQUAL_NODE" @onclick="IsEqualNode">IsEqualNode</button>
        <button data-testid="@BUTTON_CONTAINS" @onclick="Contains">Contains</button>
        <button data-testid="@BUTTON_COMPARE_DOCUMENT_POSITION" @onclick="CompareDocumentPosition">CompareDocumentPosition</button>


        @* Node/Element Events *@

        <button data-testid="@BUTTON_REGISTER_ON_INPUT" @onclick="RegisterOnInput">RegisterOnInput</button>
        <button data-testid="@BUTTON_REGISTER_ON_BEFORE_INPUT" @onclick="RegisterOnBeforeInput">RegisterOnBeforeInput</button>
        <button data-testid="@BUTTON_REGISTER_ON_CONTENT_VISIBILITY_AUTO_STATE_CHANGE" @onclick="RegisterOnContentVisibilityAutoStateChange">RegisterOnContentVisibilityAutoStateChange</button>
        <button data-testid="@BUTTON_REGISTER_ON_BEFORE_MATCH" @onclick="RegisterOnBeforeMatch">RegisterOnBeforeMatch</button>
        <button data-testid="@BUTTON_REGISTER_ON_SECURITY_POLICY_VIOLATION" @onclick="RegisterOnSecurityPolicyViolation">RegisterOnSecurityPolicyViolation</button>
        <button data-testid="@BUTTON_REGISTER_ON_SELECT_START" @onclick="RegisterOnSelectStart">RegisterOnSelectStart</button>

        <button data-testid="@BUTTON_REGISTER_ON_KEY_DOWN" @onclick="RegisterOnKeyDown">RegisterOnKeyDown</button>
        <button data-testid="@BUTTON_REGISTER_ON_KEY_UP" @onclick="RegisterOnKeyUp">RegisterOnKeyUp</button>

        <button data-testid="@BUTTON_REGISTER_ON_CLICK" @onclick="RegisterOnClick">RegisterOnClick</button>
        <button data-testid="@BUTTON_REGISTER_ON_DBL_CLICK" @onclick="RegisterOnDblClick">RegisterOnDblClick</button>
        <button data-testid="@BUTTON_REGISTER_ON_AUX_CLICK" @onclick="RegisterOnAuxClick">RegisterOnAuxClick</button>
        <button data-testid="@BUTTON_REGISTER_ON_CONTEXT_MENU" @onclick="RegisterOnContextMenu">RegisterOnContextMenu</button>
        <button data-testid="@BUTTON_REGISTER_ON_MOUSE_DOWN" @onclick="RegisterOnMouseDown">RegisterOnMouseDown</button>
        <button data-testid="@BUTTON_REGISTER_ON_MOUSE_UP" @onclick="RegisterOnMouseUp">RegisterOnMouseUp</button>
        <button data-testid="@BUTTON_REGISTER_ON_WHEEL" @onclick="RegisterOnWheel">RegisterOnWheel</button>
        <button data-testid="@BUTTON_REGISTER_ON_MOUSE_MOVE" @onclick="RegisterOnMouseMove">RegisterOnMouseMove</button>
        <button data-testid="@BUTTON_REGISTER_ON_MOUSE_OVER" @onclick="RegisterOnMouseOver">RegisterOnMouseOver</button>
        <button data-testid="@BUTTON_REGISTER_ON_MOUSE_OUT" @onclick="RegisterOnMouseOut">RegisterOnMouseOut</button>
        <button data-testid="@BUTTON_REGISTER_ON_MOUSE_ENTER" @onclick="RegisterOnMouseEnter">RegisterOnMouseEnter</button>
        <button data-testid="@BUTTON_REGISTER_ON_MOUSE_LEAVE" @onclick="RegisterOnMouseLeave">RegisterOnMouseLeave</button>

        <button data-testid="@BUTTON_REGISTER_ON_TOUCH_START" @onclick="RegisterOnTouchStart">RegisterOnTouchStart</button>
        <button data-testid="@BUTTON_REGISTER_ON_TOUCH_END" @onclick="RegisterOnTouchEnd">RegisterOnTouchEnd</button>
        <button data-testid="@BUTTON_REGISTER_ON_TOUCH_MOVE" @onclick="RegisterOnTouchMove">RegisterOnTouchMove</button>
        <button data-testid="@BUTTON_REGISTER_ON_TOUCH_CANCEL" @onclick="RegisterOnTouchCancel">RegisterOnTouchCancel</button>

        <button data-testid="@BUTTON_REGISTER_ON_POINTER_DOWN" @onclick="RegisterOnPointerDown">RegisterOnPointerDown</button>
        <button data-testid="@BUTTON_REGISTER_ON_POINTER_UP" @onclick="RegisterOnPointerUp">RegisterOnPointerUp</button>
        <button data-testid="@BUTTON_REGISTER_ON_POINTER_MOVE" @onclick="RegisterOnPointerMove">RegisterOnPointerMove</button>
        <button data-testid="@BUTTON_REGISTER_ON_POINTER_OVER" @onclick="RegisterOnPointerOver">RegisterOnPointerOver</button>
        <button data-testid="@BUTTON_REGISTER_ON_POINTER_OUT" @onclick="RegisterOnPointerOut">RegisterOnPointerOut</button>
        <button data-testid="@BUTTON_REGISTER_ON_POINTER_ENTER" @onclick="RegisterOnPointerEnter">RegisterOnPointerEnter</button>
        <button data-testid="@BUTTON_REGISTER_ON_POINTER_LEAVE" @onclick="RegisterOnPointerLeave">RegisterOnPointerLeave</button>
        <button data-testid="@BUTTON_REGISTER_ON_POINTER_CANCEL" @onclick="RegisterOnPointerCancel">RegisterOnPointerCancel</button>
        <button data-testid="@BUTTON_REGISTER_ON_POINTER_RAW_UPDATE" @onclick="RegisterOnPointerRawUpdate">RegisterOnPointerRawUpdate</button>
        <button data-testid="@BUTTON_REGISTER_ON_GOT_POINTER_CAPTURE" @onclick="RegisterOnGotPointerCapture">RegisterOnGotPointerCapture</button>
        <button data-testid="@BUTTON_REGISTER_ON_LOST_POINTER_CAPTURE" @onclick="RegisterOnLostPointerCapture">RegisterOnLostPointerCapture</button>

        <button data-testid="@BUTTON_REGISTER_ON_SCROLL" @onclick="RegisterOnScroll">RegisterOnScroll</button>
        <button data-testid="@BUTTON_REGISTER_ON_SCROLL_END" @onclick="RegisterOnScrollEnd">RegisterOnScrollEnd</button>

        <button data-testid="@BUTTON_REGISTER_ON_FOCUS" @onclick="RegisterOnFocus">RegisterOnFocus</button>
        <button data-testid="@BUTTON_REGISTER_ON_FOCUS_IN" @onclick="RegisterOnFocusIn">RegisterOnFocusIn</button>
        <button data-testid="@BUTTON_REGISTER_ON_BLUR" @onclick="RegisterOnBlur">RegisterOnBlur</button>
        <button data-testid="@BUTTON_REGISTER_ON_FOCUS_OUT" @onclick="RegisterOnFocusOut">RegisterOnFocusOut</button>

        <button data-testid="@BUTTON_REGISTER_ON_COPY" @onclick="RegisterOnCopy">RegisterOnCopy</button>
        <button data-testid="@BUTTON_REGISTER_ON_PASTE" @onclick="RegisterOnPaste">RegisterOnPaste</button>
        <button data-testid="@BUTTON_REGISTER_ON_CUT" @onclick="RegisterOnCut">RegisterOnCut</button>

        <button data-testid="@BUTTON_REGISTER_ON_TRANSITION_START" @onclick="RegisterOnTransitionStart">RegisterOnTransitionStart</button>
        <button data-testid="@BUTTON_REGISTER_ON_TRANSITION_END" @onclick="RegisterOnTransitionEnd">RegisterOnTransitionEnd</button>
        <button data-testid="@BUTTON_REGISTER_ON_TRANSITION_RUN" @onclick="RegisterOnTransitionRun">RegisterOnTransitionRun</button>
        <button data-testid="@BUTTON_REGISTER_ON_TRANSITION_CANCEL" @onclick="RegisterOnTransitionCancel">RegisterOnTransitionCancel</button>

        <button data-testid="@BUTTON_REGISTER_ON_ANIMATION_START" @onclick="RegisterOnAnimationStart">RegisterOnAnimationStart</button>
        <button data-testid="@BUTTON_REGISTER_ON_ANIMATION_END" @onclick="RegisterOnAnimationEnd">RegisterOnAnimationEnd</button>
        <button data-testid="@BUTTON_REGISTER_ON_ANIMATION_ITERATION" @onclick="RegisterOnAnimationIteration">RegisterOnAnimationIteration</button>
        <button data-testid="@BUTTON_REGISTER_ON_ANIMATION_CANCEL" @onclick="RegisterOnAnimationCancel">RegisterOnAnimationCancel</button>

        <button data-testid="@BUTTON_REGISTER_ON_FULLSCREEN_CHANGE" @onclick="RegisterOnFullscreenChange">RegisterOnFullscreenChange</button>
        <button data-testid="@BUTTON_REGISTER_ON_FULLSCREEN_ERROR" @onclick="RegisterOnFullscreenError">RegisterOnFullscreenError</button>
    </div>
    <label data-testid="@LABEL_OUTPUT">@labelOutput</label>
    <div data-testid="@HTML_ELEMENT_CONTAINER" class="html-element-container">
        <div data-testid="@HTML_ELEMENT" class="html-element" @ref="htmlElement" @onpointerdown="SetPointerCapture" @onpointermove="HasPointerCapture" @onpointerup="ReleasePointerCapture">
            test <b>bold</b> <i>italic</i> <u>underlined</u>
        </div>
    </div>
    <p data-testid="@POPOVER_ELEMENT" @ref="popoverElement" class="html-element-popover" popover>Popover</p>
    <label data-testid="@HIDDEN_ELEMENT" hidden @ref="hiddenElement">hidden</label>
</div>
