@namespace BrowserAPI.Test.Client

<div class="group">
    <h2>HTML DialogElement InProcess</h2>
    <div>
        <button data-testid="@BUTTON_TO_HTML_ELEMENT" @onclick="ToHTMLElement">ToHTMLElement</button>

        <button data-testid="@BUTTON_GET_CLOSED_BY" @onclick="GetClosedBy">GetClosedBy</button>
        <button data-testid="@BUTTON_SET_CLOSED_BY" @onclick="SetClosedBy">SetClosedBy</button>

        <button data-testid="@BUTTON_GET_OPEN" @onclick="GetOpen">GetOpen</button>
        <button data-testid="@BUTTON_SET_OPEN" @onclick="SetOpen">SetOpen</button>

        <button data-testid="@BUTTON_GET_RETURN_VALUE" @onclick="GetReturnValue">GetReturnValue</button>
        <button data-testid="@BUTTON_SET_RETURN_VALUE" @onclick="SetReturnValue">SetReturnValue</button>

        <button data-testid="@BUTTON_SHOW" @onclick="Show">Show</button>
        <button data-testid="@BUTTON_SHOW_MODAL" @onclick="ShowModal">ShowModal</button>
        <button data-testid="@BUTTON_CLOSE" @onclick="Close">Close</button>
        <button data-testid="@BUTTON_CLOSE_RETURN_VALUE" @onclick="CloseReturnValue">CloseReturnValue</button>
        <button data-testid="@BUTTON_REQUEST_CLOSE" @onclick="RequestClose">RequestClose</button>

        <button data-testid="@BUTTON_REGISTER_ON_CLOSE" @onclick="RegisterOnClose">RegisterOnClose</button>
        <button data-testid="@BUTTON_REGISTER_ON_CANCEL" @onclick="RegisterOnCancel">RegisterOnCancel</button>
    </div>
    <label data-testid="@LABEL_OUTPUT">@labelOutput</label>
    <dialog data-testid="@DIALOG_ELEMENT" @ref="dialogElement">
        <p style="margin: 0;">placeholder text in dialog-inprocess</p>
    </dialog>
</div>
