@namespace BrowserAPI.Test.Client

<div class="group">
    <h2>HTML Element</h2>
    <div>
        @* HTMLElement *@

        <button data-testid="@BUTTON_GET_ACCESS_KEY_PROPERTY" @onclick="GetAccessKey_Property">GetAccessKey_Property</button>
        <button data-testid="@BUTTON_GET_ACCESS_KEY_METHOD" @onclick="GetAccessKey_Method">GetAccessKey_Method</button>
        <button data-testid="@BUTTON_SET_ACCESS_KEY" @onclick="SetAccessKey">SetAccessKey</button>

        <button data-testid="@BUTTON_GET_ACCESS_KEY_LABEL_PROPERTY" @onclick="GetAccessKeyLabel_Property">GetAccessKeyLabel_Property</button>
        <button data-testid="@BUTTON_GET_ACCESS_KEY_LABEL_METHOD" @onclick="GetAccessKeyLabel_Method">GetAccessKeyLabel_Method</button>

        <button data-testid="@BUTTON_GET_ATTRIBUTE_STYLE_MAP_PROPERTY" @onclick="GetAttributeStyleMap_Property">GetAttributeStyleMap_Property</button>
        <button data-testid="@BUTTON_GET_ATTRIBUTE_STYLE_MAP_METHOD" @onclick="GetAttributeStyleMap_Method">GetAttributeStyleMap_Method</button>
        <button data-testid="@BUTTON_SET_ATTRIBUTE_STYLE_MAP" @onclick="SetAttributeStyleMap">SetAttributeStyleMap</button>
        <button data-testid="@BUTTON_REMOVE_ATTRIBUTE_STYLE_MAP" @onclick="RemoveAttributeStyleMap">RemoveAttributeStyleMap</button>

        <button data-testid="@BUTTON_GET_AUTOCAPITALIZE_PROPERTY" @onclick="GetAutocapitalize_Property">GetAutocapitalize_Property</button>
        <button data-testid="@BUTTON_GET_AUTOCAPITALIZE_METHOD" @onclick="GetAutocapitalize_Method">GetAutocapitalize_Method</button>
        <button data-testid="@BUTTON_SET_AUTOCAPITALIZE" @onclick="SetAutocapitalize">SetAutocapitalize</button>

        <button data-testid="@BUTTON_GET_AUTOFOCUS_PROPERTY" @onclick="GetAutofocus_Property">GetAutofocus_Property</button>
        <button data-testid="@BUTTON_GET_AUTOFOCUS_METHOD" @onclick="GetAutofocus_Method">GetAutofocus_Method</button>
        <button data-testid="@BUTTON_SET_AUTOFOCUS" @onclick="SetAutofocus">SetAutofocus</button>

        <button data-testid="@BUTTON_GET_CONTENT_EDITABLE_PROPERTY" @onclick="GetContentEditable_Property">GetContentEditable_Property</button>
        <button data-testid="@BUTTON_GET_CONTENT_EDITABLE_METHOD" @onclick="GetContentEditable_Method">GetContentEditable_Method</button>
        <button data-testid="@BUTTON_SET_CONTENT_EDITABLE" @onclick="SetContentEditable">SetContentEditable</button>

        <button data-testid="@BUTTON_GET_DATASET_PROPERTY" @onclick="GetDataset_Property">GetDataset_Property</button>
        <button data-testid="@BUTTON_GET_DATASET_METHOD" @onclick="GetDataset_Method">GetDataset_Method</button>
        <button data-testid="@BUTTON_SET_DATASET" @onclick="SetDataset">SetDataset</button>
        <button data-testid="@BUTTON_REMOVE_DATASET" @onclick="RemoveDataset">RemoveDataset</button>

        <button data-testid="@BUTTON_GET_DIR_PROPERTY" @onclick="GetDir_Property">GetDir_Property</button>
        <button data-testid="@BUTTON_GET_DIR_METHOD" @onclick="GetDir_Method">GetDir_Method</button>
        <button data-testid="@BUTTON_SET_DIR" @onclick="SetDir">SetDir</button>

        <button data-testid="@BUTTON_GET_DRAGGABLE_PROPERTY" @onclick="GetDraggable_Property">GetDraggable_Property</button>
        <button data-testid="@BUTTON_GET_DRAGGABLE_METHOD" @onclick="GetDraggable_Method">GetDraggable_Method</button>
        <button data-testid="@BUTTON_SET_DRAGGABLE" @onclick="SetDraggable">SetDraggable</button>

        <button data-testid="@BUTTON_GET_ENTER_KEY_HINT_PROPERTY" @onclick="GetEnterKeyHint_Property">GetEnterKeyHint_Property</button>
        <button data-testid="@BUTTON_GET_ENTER_KEY_HINT_METHOD" @onclick="GetEnterKeyHint_Method">GetEnterKeyHint_Method</button>
        <button data-testid="@BUTTON_SET_ENTER_KEY_HINT" @onclick="SetEnterKeyHint">SetEnterKeyHint</button>

        <button data-testid="@BUTTON_GET_HIDDEN_PROPERTY" @onclick="GetHidden_Property">GetHidden_Property</button>
        <button data-testid="@BUTTON_GET_HIDDEN_METHOD" @onclick="GetHidden_Method">GetHidden_Method</button>
        <button data-testid="@BUTTON_SET_HIDDEN" @onclick="SetHidden">SetHidden</button>

        <button data-testid="@BUTTON_GET_INERT_PROPERTY" @onclick="GetInert_Property">GetInert_Property</button>
        <button data-testid="@BUTTON_GET_INERT_METHOD" @onclick="GetInert_Method">GetInert_Method</button>
        <button data-testid="@BUTTON_SET_INERT" @onclick="SetInert">SetInert</button>

        <button data-testid="@BUTTON_GET_INNERTEXT_PROPERTY" @onclick="GetInnerText_Property">GetInnerText_Property</button>
        <button data-testid="@BUTTON_GET_INNERTEXT_METHOD" @onclick="GetInnerText_Method">GetInnerText_Method</button>
        <button data-testid="@BUTTON_SET_INNERTEXT" @onclick="SetInnerText">SetInnerText</button>

        <button data-testid="@BUTTON_GET_INPUT_MODE_PROPERTY" @onclick="GetInputMode_Property">GetInputMode_Property</button>
        <button data-testid="@BUTTON_GET_INPUT_MODE_METHOD" @onclick="GetInputMode_Method">GetInputMode_Method</button>
        <button data-testid="@BUTTON_SET_INPUT_MODE" @onclick="SetInputMode">SetInputMode</button>

        <button data-testid="@BUTTON_GET_IS_CONTENT_EDITABLE_PROPERTY" @onclick="GetIsContentEditable_Property">GetIsContentEditable_Property</button>
        <button data-testid="@BUTTON_GET_IS_CONTENT_EDITABLE_METHOD" @onclick="GetIsContentEditable_Method">GetIsContentEditable_Method</button>

        <button data-testid="@BUTTON_GET_LANG_PROPERTY" @onclick="GetLang_Property">GetLang_Property</button>
        <button data-testid="@BUTTON_GET_LANG_METHOD" @onclick="GetLang_Method">GetLang_Method</button>
        <button data-testid="@BUTTON_SET_LANG" @onclick="SetLang">SetLang</button>

        <button data-testid="@BUTTON_GET_NONCE_PROPERTY" @onclick="GetNonce_Property">GetNonce_Property</button>
        <button data-testid="@BUTTON_GET_NONCE_METHOD" @onclick="GetNonce_Method">GetNonce_Method</button>
        <button data-testid="@BUTTON_SET_NONCE" @onclick="SetNonce">SetNonce</button>

        <button data-testid="@BUTTON_GET_OFFSETWIDTH_PROPERTY" @onclick="GetOffsetWidth_Property">GetOffsetWidth_Property</button>
        <button data-testid="@BUTTON_GET_OFFSETWIDTH_METHOD" @onclick="GetOffsetWidth_Method">GetOffsetWidth_Method</button>
        <button data-testid="@BUTTON_GET_OFFSETHEIGHT_PROPERTY" @onclick="GetOffsetHeight_Property">GetOffsetHeight_Property</button>
        <button data-testid="@BUTTON_GET_OFFSETHEIGHT_METHOD" @onclick="GetOffsetHeight_Method">GetOffsetHeight_Method</button>
        <button data-testid="@BUTTON_GET_OFFSETLEFT_PROPERTY" @onclick="GetOffsetLeft_Property">GetOffsetLeft_Property</button>
        <button data-testid="@BUTTON_GET_OFFSETLEFT_METHOD" @onclick="GetOffsetLeft_Method">GetOffsetLeft_Method</button>
        <button data-testid="@BUTTON_GET_OFFSETTOP_PROPERTY" @onclick="GetOffsetTop_Property">GetOffsetTop_Property</button>
        <button data-testid="@BUTTON_GET_OFFSETTOP_METHOD" @onclick="GetOffsetTop_Method">GetOffsetTop_Method</button>
        <button data-testid="@BUTTON_GET_OFFSETPARENT_PROPERTY" @onclick="GetOffsetParent_Property">GetOffsetParent_Property</button>
        <button data-testid="@BUTTON_GET_OFFSETPARENT_METHOD" @onclick="GetOffsetParent_Method">GetOffsetParent_Method</button>

        <button data-testid="@BUTTON_GET_OUTERTEXT_PROPERTY" @onclick="GetOuterText_Property">GetOuterText_Property</button>
        <button data-testid="@BUTTON_GET_OUTERTEXT_METHOD" @onclick="GetOuterText_Method">GetOuterText_Method</button>
        <button data-testid="@BUTTON_SET_OUTERTEXT" @onclick="SetOuterText">SetOuterText</button>

        <button data-testid="@BUTTON_GET_POPOVER_PROPERTY" @onclick="GetPopover_Property">GetPopover_Property</button>
        <button data-testid="@BUTTON_GET_POPOVER_METHOD" @onclick="GetPopover_Method">GetPopover_Method</button>
        <button data-testid="@BUTTON_SET_POPOVER" @onclick="SetPopover">SetPopover</button>

        <button data-testid="@BUTTON_GET_SPELLCHECK_PROPERTY" @onclick="GetSpellcheck_Property">GetSpellcheck_Property</button>
        <button data-testid="@BUTTON_GET_SPELLCHECK_METHOD" @onclick="GetSpellcheck_Method">GetSpellcheck_Method</button>
        <button data-testid="@BUTTON_SET_SPELLCHECK" @onclick="SetSpellcheck">SetSpellcheck</button>

        <button data-testid="@BUTTON_GET_STYLE_PROPERTY" @onclick="GetStyle_Property">GetStyle_Property</button>
        <button data-testid="@BUTTON_GET_STYLE_METHOD" @onclick="GetStyle_Method">GetStyle_Method</button>
        <button data-testid="@BUTTON_SET_STYLE" @onclick="SetStyle">SetStyle</button>

        <button data-testid="@BUTTON_GET_TAB_INDEX_PROPERTY" @onclick="GetTabIndex_Property">GetTabIndex_Property</button>
        <button data-testid="@BUTTON_GET_TAB_INDEX_METHOD" @onclick="GetTabIndex_Method">GetTabIndex_Method</button>
        <button data-testid="@BUTTON_SET_TAB_INDEX" @onclick="SetTabIndex">SetTabIndex</button>

        <button data-testid="@BUTTON_GET_TITLE_PROPERTY" @onclick="GetTitle_Property">GetTitle_Property</button>
        <button data-testid="@BUTTON_GET_TITLE_METHOD" @onclick="GetTitle_Method">GetTitle_Method</button>
        <button data-testid="@BUTTON_SET_TITLE" @onclick="SetTitle">SetTitle</button>

        <button data-testid="@BUTTON_GET_TRANSLATE_PROPERTY" @onclick="GetTranslate_Property">GetTranslate_Property</button>
        <button data-testid="@BUTTON_GET_TRANSLATE_METHOD" @onclick="GetTranslate_Method">GetTranslate_Method</button>
        <button data-testid="@BUTTON_SET_TRANSLATE" @onclick="SetTranslate">SetTranslate</button>
        
        @* HTMLElement extra *@
        <button data-testid="@BUTTON_GET_HASFOCUS_PROPERTY" @onclick="GetHasFocus_Property" @onpointerenter="GetHasFocus_Property">GetHasFocus_Property</button>
        <button data-testid="@BUTTON_GET_HASFOCUS_METHOD" @onclick="GetHasFocus_Method" @onpointerenter="GetHasFocus_Method">GetHasFocus_Method</button>

        @* HTMLElement Methods *@
        <button data-testid="@BUTTON_CLICK" @onclick="Click">Click</button>
        <button data-testid="@BUTTON_FOCUS" @onclick="Focus">Focus</button>
        <button data-testid="@BUTTON_BLUR" @onclick="Blur" @onpointerenter="Blur">Blur</button>
        <button data-testid="@BUTTON_SHOW_POPOVER" @onclick="ShowPopover">ShowPopover</button>
        <button data-testid="@BUTTON_HIDE_POPOVER" @onclick="HidePopover">HidePopover</button>
        <button data-testid="@BUTTON_TOGGLE_POPOVER" @onclick="TogglePopover">TogglePopover</button>
        <button data-testid="@BUTTON_TOGGLE_POPOVER_PARAMETER" @onclick="TogglePopoverParameter">TogglePopoverParameter</button>


        @* Element *@

        <button data-testid="@BUTTON_GET_INNERHTML_PROPERTY" @onclick="GetInnerHTML_Property">GetInnerHTML_Property</button>
        <button data-testid="@BUTTON_GET_INNERHTML_METHOD" @onclick="GetInnerHTML_Method">GetInnerHTML_Method</button>
        <button data-testid="@BUTTON_SET_INNERHTML" @onclick="SetInnerHTML">SetInnerHTML</button>
        <button data-testid="@BUTTON_GET_OUTERHTML_PROPERTY" @onclick="GetOuterHTML_Property">GetOuterHTML_Property</button>
        <button data-testid="@BUTTON_GET_OUTERHTML_METHOD" @onclick="GetOuterHTML_Method">GetOuterHTML_Method</button>
        <button data-testid="@BUTTON_SET_OUTERHTML" @onclick="SetOuterHTML">SetOuterHTML</button>
        <button data-testid="@BUTTON_GET_ATTRIBUTES_PROPERTY" @onclick="GetAttributes_Property">GetAttributes_Property</button>
        <button data-testid="@BUTTON_GET_ATTRIBUTES_METHOD" @onclick="GetAttributes_Method">GetAttributes_Method</button>
        <button data-testid="@BUTTON_GET_CHILD_ELEMENT_COUNT_PROPERTY" @onclick="GetChildElementCount_Property">GetChildElementCount_Property</button>
        <button data-testid="@BUTTON_GET_CHILD_ELEMENT_COUNT_METHOD" @onclick="GetChildElementCount_Method">GetChildElementCount_Method</button>
        <button data-testid="@BUTTON_GET_CHILDREN_PROPERTY" @onclick="GetChildren_Property">GetChildren_Property</button>
        <button data-testid="@BUTTON_GET_CHILDREN_METHOD" @onclick="GetChildren_Method">GetChildren_Method</button>
        <button data-testid="@BUTTON_GET_CLASSNAME_PROPERTY" @onclick="GetClassName_Property">GetClassName_Property</button>
        <button data-testid="@BUTTON_GET_CLASSNAME_METHOD" @onclick="GetClassName_Method">GetClassName_Method</button>
        <button data-testid="@BUTTON_SET_CLASSNAME" @onclick="SetClassName">SetClassName</button>
        <button data-testid="@BUTTON_GET_CLASSLIST_PROPERTY" @onclick="GetClassList_Property">GetClassList_Property</button>
        <button data-testid="@BUTTON_GET_CLASSLIST_METHOD" @onclick="GetClassList_Method">GetClassList_Method</button>

        <button data-testid="@BUTTON_GET_CLIENTWIDTH_PROPERTY" @onclick="GetClientWidth_Property">GetClientWidth_Property</button>
        <button data-testid="@BUTTON_GET_CLIENTWIDTH_METHOD" @onclick="GetClientWidth_Method">GetClientWidth_Method</button>
        <button data-testid="@BUTTON_GET_CLIENTHEIGHT_PROPERTY" @onclick="GetClientHeight_Property">GetClientHeight_Property</button>
        <button data-testid="@BUTTON_GET_CLIENTHEIGHT_METHOD" @onclick="GetClientHeight_Method">GetClientHeight_Method</button>
        <button data-testid="@BUTTON_GET_CLIENTLEFT_PROPERTY" @onclick="GetClientLeft_Property">GetClientLeft_Property</button>
        <button data-testid="@BUTTON_GET_CLIENTLEFT_METHOD" @onclick="GetClientLeft_Method">GetClientLeft_Method</button>
        <button data-testid="@BUTTON_GET_CLIENTTOP_PROPERTY" @onclick="GetClientTop_Property">GetClientTop_Property</button>
        <button data-testid="@BUTTON_GET_CLIENTTOP_METHOD" @onclick="GetClientTop_Method">GetClientTop_Method</button>

        <button data-testid="@BUTTON_GET_SCROLLWIDTH_PROPERTY" @onclick="GetScrollWidth_Property">GetClientWidth_Property</button>
        <button data-testid="@BUTTON_GET_SCROLLWIDTH_METHOD" @onclick="GetScrollWidth_Method">GetScrollWidth_Method</button>
        <button data-testid="@BUTTON_GET_SCROLLHEIGHT_PROPERTY" @onclick="GetScrollHeight_Property">GetScrollHeight_Property</button>
        <button data-testid="@BUTTON_GET_SCROLLHEIGHT_METHOD" @onclick="GetScrollHeight_Method">GetScrollHeight_Method</button>
        <button data-testid="@BUTTON_GET_SCROLLLEFT_PROPERTY" @onclick="GetScrollLeft_Property">GetScrollLeft_Property</button>
        <button data-testid="@BUTTON_GET_SCROLLLEFT_METHOD" @onclick="GetScrollLeft_Method">GetScrollLeft_Method</button>
        <button data-testid="@BUTTON_SET_SCROLLLEFT" @onclick="SetScrollLeft">SetScrollLeft</button>
        <button data-testid="@BUTTON_GET_SCROLLTOP_PROPERTY" @onclick="GetScrollTop_Property">GetScrollTop_Property</button>
        <button data-testid="@BUTTON_GET_SCROLLTOP_METHOD" @onclick="GetScrollTop_Method">GetScrollTop_Method</button>
        <button data-testid="@BUTTON_SET_SCROLLTOP" @onclick="SetScrollTop">SetScrollTop</button>

        @* Element Methods *@
        <button data-testid="@BUTTON_GET_BOUNDING_CLIENT_RECT" @onclick="GetBoundingClientRect">GetBoundingClientRect</button>
        <button data-testid="@BUTTON_GET_CLIENT_RECTS" @onclick="GetClientRects">GetClientRects</button>
        <button data-testid="@BUTTON_HAS_ATTRIBUTE" @onclick="HasAttribute">HasAttribute</button>
        <button data-testid="@BUTTON_HAS_ATTRIBUTES" @onclick="HasAttributes">HasAttributes</button>
        <button data-testid="@BUTTON_SCROLL" @onclick="Scroll">Scroll</button>
        <button data-testid="@BUTTON_SCROLL_BY" @onclick="ScrollBy">ScrollBy</button>
        <button data-testid="@BUTTON_SCROLL_INTO_VIEW" @onclick="ScrollIntoView">ScrollIntoView</button>
        <button data-testid="@BUTTON_REQUEST_FULLSCREEN" @onclick="RequestFullscreen">RequestFullscreen</button>

        @* Element Events *@
        <button data-testid="@BUTTON_REGISTER_ON_TRANSITIONSTART" @onclick="RegisterOnTransitionstart">RegisterOnTransitionstart</button>
        <button data-testid="@BUTTON_REGISTER_ON_TRANSITIONEND" @onclick="RegisterOnTransitionend">RegisterOnTransitionend</button>
        <button data-testid="@BUTTON_REGISTER_ON_TRANSITIONRUN" @onclick="RegisterOnTransitionrun">RegisterOnTransitionrun</button>
        <button data-testid="@BUTTON_REGISTER_ON_TRANSITIONCANCEL" @onclick="RegisterOnTransitioncancel">RegisterOnTransitioncancel</button>
        <button data-testid="@BUTTON_REGISTER_ON_ANIMATIONSTART" @onclick="RegisterOnAnimationstart">RegisterOnAnimationstart</button>
        <button data-testid="@BUTTON_REGISTER_ON_ANIMATIONEND" @onclick="RegisterOnAnimationend">RegisterOnAnimationend</button>
        <button data-testid="@BUTTON_REGISTER_ON_ANIMATIONITERATION" @onclick="RegisterOnAnimationiteration">RegisterOnAnimationiteration</button>
        <button data-testid="@BUTTON_REGISTER_ON_ANIMATIONCANCEL" @onclick="RegisterOnAnimationcancel">RegisterOnAnimationcancel</button>
    </div>
    <label data-testid="@LABEL_OUTPUT">@labelOutput</label>
    <div data-testid="@HTML_ELEMENT_CONTAINER" class="html-element-container">
        <div data-testid="@HTML_ELEMENT" class="html-element" @ref="htmlElement" @onpointerdown="SetPointerCapture" @onpointermove="HasPointerCapture" @onpointerup="ReleasePointerCapture">
            test <b>bold</b> <i>italic</i> <u>underlined</u>
        </div>
    </div>
    <p data-testid="@POPOVER_ELEMENT" @ref="popoverElement" class="html-element-popover" popover>Popover</p>
</div>
