@namespace BrowserAPI.Test.Client

<div class="group">
    <h2>Language InProcess</h2>
    <div>
        <button data-testid="@BUTTON_GET_BROWSER_LANGUAGE" @onclick="GetBrowserLanguage">GetBrowserLanguage_InProcess</button>
        <button data-testid="@BUTTON_GET_HTML_LANGUAGE" @onclick="GetHtmlLanguage">GetHtmlLanguage_InProcess</button>
        <button data-testid="@BUTTON_SET_HTML_LANGUAGE" @onclick="SetHtmlLanguage">SetHtmlLanguage_InProcess</button>
    </div>
    <label data-testid="@LABEL_OUTPUT">@labelOutput</label>
</div>
