@namespace BrowserAPI.Test.Client

<div class="group">
    <h2>Language</h2>
    <div>
        <button data-testid="@BUTTON_GET_BROWSER_LANGUAGE_PROPERTY" @onclick="GetBrowserLanguage_Property">GetBrowserLanguage_Property</button>
        <button data-testid="@BUTTON_GET_BROWSER_LANGUAGE_METHOD" @onclick="GetBrowserLanguage_Method">GetBrowserLanguage_Method</button>

        <button data-testid="@BUTTON_GET_BROWSER_LANGUAGES_PROPERTY" @onclick="GetBrowserLanguages_Property">GetBrowserLanguages_Property</button>
        <button data-testid="@BUTTON_GET_BROWSER_LANGUAGES_METHOD" @onclick="GetBrowserLanguages_Method">GetBrowserLanguages_Method</button>

        <button data-testid="@BUTTON_GET_HTML_LANGUAGE_PROPERTY" @onclick="GetHtmlLanguage_Property">GetHtmlLanguage_Property</button>
        <button data-testid="@BUTTON_GET_HTML_LANGUAGE_METHOD" @onclick="GetHtmlLanguage_Method">GetHtmlLanguage_Method</button>
        <button data-testid="@BUTTON_SET_HTML_LANGUAGE" @onclick="SetHtmlLanguage">SetHtmlLanguage</button>
    </div>
    <label data-testid="@LABEL_OUTPUT">@labelOutput</label>
</div>
