@namespace BrowserAPI.Test.Client

<div class="group">
    <h2>Local Storage InProcess</h2>
    <div>
        <button data-testid="@BUTTON_GET_LENGTH" @onclick="GetLength">GetLength</button>
        <button data-testid="@BUTTON_KEY" @onclick="Key">Key</button>
        <button data-testid="@BUTTON_GET_ITEM" @onclick="GetItem">GetItem</button>
        <button data-testid="@BUTTON_SET_ITEM" @onclick="SetItem">SetItem</button>
        <button data-testid="@BUTTON_REMOVE_ITEM" @onclick="RemoveItem">RemoveItem</button>
        <button data-testid="@BUTTON_CLEAR" @onclick="Clear">Clear</button>
    </div>
    <label data-testid="@LABEL_OUTPUT">@labelOutput</label>
</div>
