@namespace BrowserAPI.Test.Client

<div class="group">
    <h2>Local Storage</h2>
    <div>
        <button data-testid="@DATA_TESTID_GET_LENGTH_PROPERTY" @onclick="GetLength_Property">GetLength_Property</button>
        <button data-testid="@DATA_TESTID_GET_LENGTH_METHOD" @onclick="GetLength_Method">GetLength_Method</button>
        <button data-testid="@DATA_TESTID_KEY" @onclick="Key">Key</button>
        <button data-testid="@DATA_TESTID_GET_ITEM" @onclick="GetItem">GetItem</button>
        <button data-testid="@DATA_TESTID_SET_ITEM" @onclick="SetItem">SetItem</button>
        <button data-testid="@DATA_TESTID_REMOVE_ITEM" @onclick="RemoveItem">RemoveItem</button>
        <button data-testid="@DATA_TESTID_CLEAR" @onclick="Clear">Clear</button>

        <button data-testid="@DATA_TESTID_GET_LENGTH_INPROCESS" @onclick="GetLength_InProcess">GetLength_InProcess</button>
        <button data-testid="@DATA_TESTID_KEY_INPROCESS" @onclick="Key_InProcess">Key_InProcess</button>
        <button data-testid="@DATA_TESTID_GET_ITEM_INPROCESS" @onclick="GetItem_InProcess">GetItem_InProcess</button>
        <button data-testid="@DATA_TESTID_SET_ITEM_INPROCESS" @onclick="SetItem_InProcess">SetItem_InProcess</button>
        <button data-testid="@DATA_TESTID_REMOVE_ITEM_INPROCESS" @onclick="RemoveItem_InProcess">RemoveItem_InProcess</button>
        <button data-testid="@DATA_TESTID_CLEAR_INPROCESS" @onclick="Clear_InProcess">Clear_InProcess</button>
    </div>
    <label data-testid="@DATA_TESTID_OUTPUT">@labelOutput</label>
</div>
