@namespace BrowserAPI.Test.Client

<div class="group">
    <h2>Media Devices InProcess</h2>
    <div>
        @* Media Devices *@
        <button data-testid="@BUTTON_ENUMERATE_DEVICES" @onclick="EnumerateDevices">EnumerateDevices</button>
        <button data-testid="@BUTTON_GET_SUPPORTED_CONSTRAINTS" @onclick="GetSupportedConstraints">GetSupportedConstraints</button>
        <button data-testid="@BUTTON_GET_USER_MEDIA" @onclick="GetUserMedia">GetUserMedia</button>
        <button data-testid="@BUTTON_GET_USER_MEDIA_WITH_CONSTRAINT" @onclick="GetUserMediaWithConstraint">GetUserMediaWithConstraint</button>
        <button data-testid="@BUTTON_GET_DISPLAY_MEDIA" @onclick="GetDisplayMedia">GetDisplayMedia</button>
        <button data-testid="@BUTTON_GET_DISPLAY_MEDIA_WITH_CONSTRAINT" @onclick="GetDisplayMediaWithConstraint">GetDisplayMediaWithConstraint</button>
        @* Media Stream *@
        <button data-testid="@BUTTON_GET_ACTIVE" @onclick="GetActive">GetActive</button>
        <button data-testid="@BUTTON_GET_ID" @onclick="GetId">GetId</button>
        @* Media Recorder Properties *@
        <button data-testid="@BUTTON_GET_MIME_TYPE" @onclick="GetMimeType">GetMimeType</button>
        <button data-testid="@BUTTON_GET_STATE" @onclick="GetState">GetState</button>
        <button data-testid="@BUTTON_GET_STREAM" @onclick="GetStream">GetStream</button>
        <button data-testid="@BUTTON_GET_AUDIO_BITS_PER_SECOND" @onclick="GetAudioBitsPerSecond">GetAudioBitsPerSecond</button>
        <button data-testid="@BUTTON_GET_VIDEO_BITS_PER_SECOND" @onclick="GetVideoBitsPerSecond">GetVideoBitsPerSecond</button>
        @* Media Recorder Methods *@
        <button data-testid="@BUTTON_START" @onclick="Start">Start</button>
        <button data-testid="@BUTTON_STOP" @onclick="Stop">Stop</button>
        <button data-testid="@BUTTON_RESUME" @onclick="Resume">Resume</button>
        <button data-testid="@BUTTON_PAUSE" @onclick="Pause">Pause</button>
        <button data-testid="@BUTTON_REQUEST_DATA" @onclick="RequestData">RequestData</button>
        <button data-testid="@BUTTON_IS_TYPE_SUPPORTED" @onclick="IsTypeSupported">IsTypeSupported</button>
        @* Media Recorder Events *@
        <button data-testid="@BUTTON_REGISTER_ON_DATA_AVAILABLE" @onclick="RegisterOnDataAvailable">RegisterOnDataAvailable</button>
        <button data-testid="@BUTTON_REGISTER_ON_ERROR" @onclick="RegisterOnError">RegisterOnError</button>
        <button data-testid="@BUTTON_REGISTER_ON_START" @onclick="RegisterOnStart">RegisterOnStart</button>
        <button data-testid="@BUTTON_REGISTER_ON_STOP" @onclick="RegisterOnStop">RegisterOnStop</button>
        <button data-testid="@BUTTON_REGISTER_ON_RESUME" @onclick="RegisterOnResume">RegisterOnResume</button>
        <button data-testid="@BUTTON_REGISTER_ON_PAUSE" @onclick="RegisterOnPause">RegisterOnPause</button>
    </div>
    <label data-testid="@LABEL_OUTPUT">@labelOutput</label>
</div>
