@namespace BrowserAPI.Test.Client

<div class="group">
    <h2>Screen</h2>
    <div>
        <button data-testid="@BUTTON_GET_WIDTH_PROPERTY" @onclick="GetWidth_Property">GetWidth_Property</button>
        <button data-testid="@BUTTON_GET_WIDTH_METHOD" @onclick="GetWidth_Method">GetWidth_Method</button>

        <button data-testid="@BUTTON_GET_HEIGHT_PROPERTY" @onclick="GetHeight_Property">GetHeight_Property</button>
        <button data-testid="@BUTTON_GET_HEIGHT_METHOD" @onclick="GetHeight_Method">GetHeight_Method</button>

        <button data-testid="@BUTTON_GET_AVAIL_WIDTH_PROPERTY" @onclick="GetAvailWidth_Property">GetAvailWidth_Property</button>
        <button data-testid="@BUTTON_GET_AVAIL_WIDTH_METHOD" @onclick="GetAvailWidth_Method">GetAvailWidth_Method</button>

        <button data-testid="@BUTTON_GET_AVAIL_HEIGHT_PROPERTY" @onclick="GetAvailHeight_Property">GetAvailHeight_Property</button>
        <button data-testid="@BUTTON_GET_AVAIL_HEIGHT_METHOD" @onclick="GetAvailHeight_Method">GetAvailHeight_Method</button>

        <button data-testid="@BUTTON_GET_COLOR_DEPTH_PROPERTY" @onclick="GetColorDepth_Property">GetColorDepth_Property</button>
        <button data-testid="@BUTTON_GET_COLOR_DEPTH_METHOD" @onclick="GetColorDepth_Method">GetColorDepth_Method</button>

        <button data-testid="@BUTTON_GET_PIXEL_DEPTH_PROPERTY" @onclick="GetPixelDepth_Property">GetPixelDepth_Property</button>
        <button data-testid="@BUTTON_GET_PIXEL_DEPTH_METHOD" @onclick="GetPixelDepth_Method">GetPixelDepth_Method</button>

        <button data-testid="@BUTTON_GET_IS_EXTENDED_PROPERTY" @onclick="GetIsExtended_Property">GetIsExtended_Property</button>
        <button data-testid="@BUTTON_GET_IS_EXTENDED_METHOD" @onclick="GetIsExtended_Method">GetIsExtended_Method</button>


        <button data-testid="@BUTTON_GET_ORIENTATION_TYPE_PROPERTY" @onclick="GetOrientationType_Property">GetOrientationType_Property</button>
        <button data-testid="@BUTTON_GET_ORIENTATION_TYPE_METHOD" @onclick="GetOrientationType_Method">GetOrientationType_Method</button>

        <button data-testid="@BUTTON_GET_ORIENTATION_ANGLE_PROPERTY" @onclick="GetOrientationAngle_Property">GetOrientationAngle_Property</button>
        <button data-testid="@BUTTON_GET_ORIENTATION_ANGLE_METHOD" @onclick="GetOrientationAngle_Method">GetOrientationAngle_Method</button>

        <button data-testid="@BUTTON_LOCK_ORIENTATION" @onclick="LockOrientation">LockOrientation</button>
        <button data-testid="@BUTTON_UNLOCK_ORIENTATION" @onclick="UnlockOrientation">UnlockOrientation</button>


        <button data-testid="@BUTTON_REGISTER_ON_CHANGE" @onclick="RegisterOnChange">RegisterOnChange</button>
        <button data-testid="@BUTTON_REGISTER_ON_ORIENTATION_CHANGE" @onclick="RegisterOnOrientationChange">RegisterOnOrientationChange</button>
    </div>
    <label data-testid="@LABEL_OUTPUT">@labelOutput</label>
</div>
