@namespace BrowserAPI.Test.Client

<div class="group">
    <h2>Service Worker Container</h2>
    <div>
        <button data-testid="@BUTTON_REGISTER" @onclick="Register">Register</button>
        <button data-testid="@BUTTON_REGISTER_WITH_WORKER_REGISTRATION" @onclick="RegisterWithWorkerRegistration">RegisterWithWorkerRegistration</button>
        <button data-testid="@BUTTON_DELAY_UNTIL_READY" @onclick="DelayUntilReady">DelayUntilReady</button>
        <button data-testid="@BUTTON_GET_REGISTRATION" @onclick="GetRegistration">GetRegistration</button>
        <button data-testid="@BUTTON_GET_REGISTRATIONS" @onclick="GetRegistrations">GetRegistrations</button>
        <button data-testid="@BUTTON_GET_CONTROLLER_PROPERTY" @onclick="GetController_Property">GetController_Property</button>
        <button data-testid="@BUTTON_GET_CONTROLLER_METHOD" @onclick="GetController_Method">GetController_Method</button>
        <button data-testid="@BUTTON_START_MESSAGES" @onclick="StartMessages">StartMessages</button>
        <button data-testid="@BUTTON_REGISTER_ON_CONTROLLER_CHANGE" @onclick="RegisterOnControllerChange">RegisterOnControllerChange</button>
        <button data-testid="@BUTTON_REGISTER_ON_MESSAGE" @onclick="RegisterOnMessage">RegisterOnMessage</button>

        <button data-testid="@BUTTON_REGISTER_INPROCESS" @onclick="Register_InProcess">Register_InProcess</button>
        <button data-testid="@BUTTON_REGISTER_WITH_WORKER_REGISTRATION_INPROCESS" @onclick="RegisterWithWorkerRegistration_InProcess">RegisterWithWorkerRegistration_InProcess</button>
        <button data-testid="@BUTTON_DELAY_UNTIL_READY_INPROCESS" @onclick="DelayUntilReady_InProcess">DelayUntilReady_InProcess</button>
        <button data-testid="@BUTTON_GET_REGISTRATION_INPROCESS" @onclick="GetRegistration_InProcess">GetRegistration_InProcess</button>
        <button data-testid="@BUTTON_GET_REGISTRATIONS_INPROCESS" @onclick="GetRegistrations_InProcess">GetRegistrations_InProcess</button>
        <button data-testid="@BUTTON_GET_CONTROLLER_INPROCESS" @onclick="GetController_InProcess">GetController_InProcess</button>
        <button data-testid="@BUTTON_START_MESSAGES_INPROCESS" @onclick="StartMessages_InProcess">StartMessages_InProcess</button>
        <button data-testid="@BUTTON_REGISTER_ON_CONTROLLER_CHANGE_INPROCESS" @onclick="RegisterOnControllerChange_InProcess">RegisterOnControllerChange_InProcess</button>
        <button data-testid="@BUTTON_REGISTER_ON_MESSAGE_INPROCESS" @onclick="RegisterOnMessage_InProcess">RegisterOnMessage_InProcess</button>
    </div>
    <label data-testId="@LABEL_OUTPUT">@labelOutput</label>
</div>
