@namespace BrowserAPI.Test.Client

<div class="group">
    <h2>Window InProcess</h2>
    <div>
        @* Properties *@

        <button data-testid="@BUTTON_GET_INNER_WIDTH" @onclick="GetInnerWidth">GetInnerWidth</button>
        <button data-testid="@BUTTON_GET_INNER_HEIGHT" @onclick="GetInnerHeight">GetInnerHeight</button>
        <button data-testid="@BUTTON_GET_OUTER_WIDTH" @onclick="GetOuterWidth">GetOuterWidth</button>
        <button data-testid="@BUTTON_GET_OUTER_HEIGHT" @onclick="GetOuterHeight">GetOuterHeight</button>
        <button data-testid="@BUTTON_GET_DEVICE_PIXEL_RATIO" @onclick="GetDevicePixelRatio">GetDevicePixelRatio</button>

        <button data-testid="@BUTTON_GET_SCROLL_X" @onclick="GetScrollX">GetScrollX</button>
        <button data-testid="@BUTTON_GET_SCROLL_Y" @onclick="GetScrollY">GetScrollY</button>
        <button data-testid="@BUTTON_GET_SCREEN_X" @onclick="GetScreenX">GetScreenX</button>
        <button data-testid="@BUTTON_GET_SCREEN_Y" @onclick="GetScreenY">GetScreenY</button>

        <button data-testid="@BUTTON_GET_ORIGIN" @onclick="GetOrigin">GetOrigin</button>
        <button data-testid="@BUTTON_GET_NAME" @onclick="GetName">GetName</button>
        <button data-testid="@BUTTON_SET_NAME" @onclick="SetName">SetName</button>

        <button data-testid="@BUTTON_GET_CLOSED" @onclick="GetClosed">GetClosed</button>
        <button data-testid="@BUTTON_GET_CREDENTIALLESS" @onclick="GetCredentialless">GetCredentialless</button>
        <button data-testid="@BUTTON_GET_CROSS_ORIGIN_ISOLATED" @onclick="GetCrossOriginIsolated">GetCrossOriginIsolated</button>
        <button data-testid="@BUTTON_GET_IS_SECURE_CONTEXT" @onclick="GetIsSecureContext">GetIsSecureContext</button>
        <button data-testid="@BUTTON_GET_ORIGIN_AGENT_CLUSTER" @onclick="GetOriginAgentCluster">GetOriginAgentCluster</button>
        <button data-testid="@BUTTON_GET_MENUBAR" @onclick="GetMenubar">GetMenubar</button>

        <button data-testid="@BUTTON_GET_FRAME_ELEMENT" @onclick="GetFrameElement">GetFrameElement</button>

        @* Methods *@

        <button data-testid="@BUTTON_OPEN" @onclick="Open">Open</button>
        <button data-testid="@BUTTON_CLOSE" @onclick="Close">Close</button>
        <button data-testid="@BUTTON_STOP" @onclick="Stop">Stop</button>
        <button data-testid="@BUTTON_FOCUS" @onclick="Focus">Focus</button>
        <button data-testid="@BUTTON_PRINT" @onclick="Print">Print</button>
        <button data-testid="@BUTTON_REPORT_ERROR" @onclick="ReportError">ReportError</button>
        <button data-testid="@BUTTON_PROMPT" @onclick="Prompt">Prompt</button>
        <button data-testid="@BUTTON_CONFIRM" @onclick="Confirm">Confirm</button>
        <button data-testid="@BUTTON_ALERT" @onclick="Alert">Alert</button>

        <button data-testid="@BUTTON_MOVE_BY" @onclick="MoveBy">MoveBy</button>
        <button data-testid="@BUTTON_MOVE_TO" @onclick="MoveTo">MoveTo</button>
        <button data-testid="@BUTTON_RESIZE_BY" @onclick="ResizeBy">ResizeBy</button>
        <button data-testid="@BUTTON_RESIZE_TO" @onclick="ResizeTo">ResizeTo</button>
        <button data-testid="@BUTTON_SCROLL" @onclick="Scroll">Scroll</button>
        <button data-testid="@BUTTON_SCROLL_TO" @onclick="ScrollTo">ScrollTo</button>
        <button data-testid="@BUTTON_SCROLL_BY" @onclick="ScrollBy">ScrollBy</button>

        <button data-testid="@BUTTON_SET_TIMEOUT" @onclick="SetTimeout">SetTimeout</button>
        <button data-testid="@BUTTON_CLEAR_TIMEOUT" @onclick="ClearTimeout">ClearTimeout</button>
        <button data-testid="@BUTTON_SET_INTERVAL" @onclick="SetInterval">SetInterval</button>
        <button data-testid="@BUTTON_CLEAR_INTERVAL" @onclick="ClearInterval">ClearInterval</button>
        <button data-testid="@BUTTON_REQUEST_ANIMATION_FRAME" @onclick="RequestAnimationFrame">RequestAnimationFrame</button>
        <button data-testid="@BUTTON_CANCEL_ANIMATION_FRAME" @onclick="CancelAnimationFrame">CancelAnimationFrame</button>
        <button data-testid="@BUTTON_REQUEST_IDLE_CALLBACK" @onclick="RequestIdleCallback">RequestIdleCallback</button>
        <button data-testid="@BUTTON_CANCEL_IDLE_CALLBACK" @onclick="CancelIdleCallback">CancelIdleCallback</button>
        <button data-testid="@BUTTON_QUEUE_MICROTASK" @onclick="QueueMicrotask">QueueMicrotask</button>

        <button data-testid="@BUTTON_ATOB" @onclick="Atob">Atob</button>
        <button data-testid="@BUTTON_BTOA" @onclick="Btoa">Btoa</button>
        <button data-testid="@BUTTON_POST_MESSAGE" @onclick="PostMessage">PostMessage</button>
        <button data-testid="@BUTTON_STRUCTURED_CLONE" @onclick="StructuredClone">StructuredClone</button>
    </div>
    <label data-testid="@LABEL_OUTPUT">@labelOutput</label>
</div>

