@namespace BrowserAPI.Test.Client

<div class="group">
    <h2>Window</h2>
    <div>
        @* Properties *@

        <button data-testid="@BUTTON_GET_INNER_WIDTH_PROPERTY" @onclick="GetInnerWidth_Property">GetInnerWidth_Property</button>
        <button data-testid="@BUTTON_GET_INNER_WIDTH_METHOD" @onclick="GetInnerWidth_Method">GetInnerWidth_Method</button>
        <button data-testid="@BUTTON_GET_INNER_HEIGHT_PROPERTY" @onclick="GetInnerHeight_Property">GetInnerHeight_Property</button>
        <button data-testid="@BUTTON_GET_INNER_HEIGHT_METHOD" @onclick="GetInnerHeight_Method">GetInnerHeight_Method</button>
        <button data-testid="@BUTTON_GET_OUTER_WIDTH_PROPERTY" @onclick="GetOuterWidth_Property">GetOuterWidth_Property</button>
        <button data-testid="@BUTTON_GET_OUTER_WIDTH_METHOD" @onclick="GetOuterWidth_Method">GetOuterWidth_Method</button>
        <button data-testid="@BUTTON_GET_OUTER_HEIGHT_PROPERTY" @onclick="GetOuterHeight_Property">GetOuterHeight_Property</button>
        <button data-testid="@BUTTON_GET_OUTER_HEIGHT_METHOD" @onclick="GetOuterHeight_Method">GetOuterHeight_Method</button>
        <button data-testid="@BUTTON_GET_DEVICE_PIXEL_RATIO_PROPERTY" @onclick="GetDevicePixelRatio_Property">GetDevicePixelRatio_Property</button>
        <button data-testid="@BUTTON_GET_DEVICE_PIXEL_RATIO_METHOD" @onclick="GetDevicePixelRatio_Method">GetDevicePixelRatio_Method</button>

        <button data-testid="@BUTTON_GET_SCROLL_X_PROPERTY" @onclick="GetScrollX_Property">GetScrollX_Property</button>
        <button data-testid="@BUTTON_GET_SCROLL_X_METHOD" @onclick="GetScrollX_Method">GetScrollX_Method</button>
        <button data-testid="@BUTTON_GET_SCROLL_Y_PROPERTY" @onclick="GetScrollY_Property">GetScrollY_Property</button>
        <button data-testid="@BUTTON_GET_SCROLL_Y_METHOD" @onclick="GetScrollY_Method">GetScrollY_Method</button>
        <button data-testid="@BUTTON_GET_SCREEN_X_PROPERTY" @onclick="GetScreenX_Property">GetScreenX_Property</button>
        <button data-testid="@BUTTON_GET_SCREEN_X_METHOD" @onclick="GetScreenX_Method">GetScreenX_Method</button>
        <button data-testid="@BUTTON_GET_SCREEN_Y_PROPERTY" @onclick="GetScreenY_Property">GetScreenY_Property</button>
        <button data-testid="@BUTTON_GET_SCREEN_Y_METHOD" @onclick="GetScreenY_Method">GetScreenY_Method</button>

        <button data-testid="@BUTTON_GET_ORIGIN_PROPERTY" @onclick="GetOrigin_Property">GetOrigin_Property</button>
        <button data-testid="@BUTTON_GET_ORIGIN_METHOD" @onclick="GetOrigin_Method">GetOrigin_Method</button>
        <button data-testid="@BUTTON_GET_NAME_PROPERTY" @onclick="GetName_Property">GetName_Property</button>
        <button data-testid="@BUTTON_GET_NAME_METHOD" @onclick="GetName_Method">GetName_Method</button>
        <button data-testid="@BUTTON_SET_NAME" @onclick="SetName">SetName</button>

        <button data-testid="@BUTTON_GET_CLOSED_PROPERTY" @onclick="GetClosed_Property">GetClosed_Property</button>
        <button data-testid="@BUTTON_GET_CLOSED_METHOD" @onclick="GetClosed_Method">GetClosed_Method</button>
        <button data-testid="@BUTTON_GET_CREDENTIALLESS_PROPERTY" @onclick="GetCredentialless_Property">GetCredentialless_Property</button>
        <button data-testid="@BUTTON_GET_CREDENTIALLESS_METHOD" @onclick="GetCredentialless_Method">GetCredentialless_Method</button>
        <button data-testid="@BUTTON_GET_CROSS_ORIGIN_ISOLATED_PROPERTY" @onclick="GetCrossOriginIsolated_Property">GetCrossOriginIsolated_Property</button>
        <button data-testid="@BUTTON_GET_CROSS_ORIGIN_ISOLATED_METHOD" @onclick="GetCrossOriginIsolated_Method">GetCrossOriginIsolated_Method</button>
        <button data-testid="@BUTTON_GET_IS_SECURE_CONTEXT_PROPERTY" @onclick="GetIsSecureContext_Property">GetIsSecureContext_Property</button>
        <button data-testid="@BUTTON_GET_IS_SECURE_CONTEXT_METHOD" @onclick="GetIsSecureContext_Method">GetIsSecureContext_Method</button>
        <button data-testid="@BUTTON_GET_ORIGIN_AGENT_CLUSTER_PROPERTY" @onclick="GetOriginAgentCluster_Property">GetOriginAgentCluster_Property</button>
        <button data-testid="@BUTTON_GET_ORIGIN_AGENT_CLUSTER_METHOD" @onclick="GetOriginAgentCluster_Method">GetOriginAgentCluster_Method</button>
        <button data-testid="@BUTTON_GET_MENUBAR_PROPERTY" @onclick="GetMenubar_Property">GetMenubar_Property</button>
        <button data-testid="@BUTTON_GET_MENUBAR_METHOD" @onclick="GetMenubar_Method">GetMenubar_Method</button>

        <button data-testid="@BUTTON_GET_FRAME_ELEMENT_PROPERTY" @onclick="GetFrameElement_Property">GetFrameElement_Property</button>
        <button data-testid="@BUTTON_GET_FRAME_ELEMENT_METHOD" @onclick="GetFrameElement_Method">GetFrameElement_Method</button>

        @* Methods *@

        <button data-testid="@BUTTON_OPEN" @onclick="Open">Open</button>
        <button data-testid="@BUTTON_CLOSE" @onclick="Close">Close</button>
        <button data-testid="@BUTTON_STOP" @onclick="Stop">Stop</button>
        <button data-testid="@BUTTON_FOCUS" @onclick="Focus">Focus</button>
        <button data-testid="@BUTTON_PRINT" @onclick="Print">Print</button>
        <button data-testid="@BUTTON_REPORT_ERROR" @onclick="ReportError">ReportError</button>
        <button data-testid="@BUTTON_PROMPT" @onclick="Prompt">Prompt</button>
        <button data-testid="@BUTTON_CONFIRM" @onclick="Confirm">Confirm</button>
        <button data-testid="@BUTTON_ALERT" @onclick="Alert">Alert</button>

        <button data-testid="@BUTTON_MOVE_BY" @onclick="MoveBy">MoveBy</button>
        <button data-testid="@BUTTON_MOVE_TO" @onclick="MoveTo">MoveTo</button>
        <button data-testid="@BUTTON_RESIZE_BY" @onclick="ResizeBy">ResizeBy</button>
        <button data-testid="@BUTTON_RESIZE_TO" @onclick="ResizeTo">ResizeTo</button>
        <button data-testid="@BUTTON_SCROLL" @onclick="Scroll">Scroll</button>
        <button data-testid="@BUTTON_SCROLL_TO" @onclick="ScrollTo">ScrollTo</button>
        <button data-testid="@BUTTON_SCROLL_BY" @onclick="ScrollBy">ScrollBy</button>

        <button data-testid="@BUTTON_SET_TIMEOUT" @onclick="SetTimeout">SetTimeout</button>
        <button data-testid="@BUTTON_CLEAR_TIMEOUT" @onclick="ClearTimeout">ClearTimeout</button>
        <button data-testid="@BUTTON_SET_INTERVAL" @onclick="SetInterval">SetInterval</button>
        <button data-testid="@BUTTON_CLEAR_INTERVAL" @onclick="ClearInterval">ClearInterval</button>
        <button data-testid="@BUTTON_REQUEST_ANIMATION_FRAME" @onclick="RequestAnimationFrame">RequestAnimationFrame</button>
        <button data-testid="@BUTTON_CANCEL_ANIMATION_FRAME" @onclick="CancelAnimationFrame">CancelAnimationFrame</button>
        <button data-testid="@BUTTON_REQUEST_IDLE_CALLBACK" @onclick="RequestIdleCallback">RequestIdleCallback</button>
        <button data-testid="@BUTTON_CANCEL_IDLE_CALLBACK" @onclick="CancelIdleCallback">CancelIdleCallback</button>
        <button data-testid="@BUTTON_QUEUE_MICROTASK" @onclick="QueueMicrotask">QueueMicrotask</button>

        <button data-testid="@BUTTON_ATOB" @onclick="Atob">Atob</button>
        <button data-testid="@BUTTON_BTOA" @onclick="Btoa">Btoa</button>
        <button data-testid="@BUTTON_POST_MESSAGE" @onclick="PostMessage">PostMessage</button>
        <button data-testid="@BUTTON_STRUCTURED_CLONE" @onclick="StructuredClone">StructuredClone</button>

        @* Events *@

        <button data-testid="@BUTTON_REGISTER_ON_ERROR" @onclick="RegisterOnError">RegisterOnError</button>
        <button data-testid="@BUTTON_REGISTER_ON_LANGUAGE_CHANGE" @onclick="RegisterOnLanguageChange">RegisterOnLanguageChange</button>
        <button data-testid="@BUTTON_REGISTER_ON_RESIZE" @onclick="RegisterOnResize">RegisterOnResize</button>
        <button data-testid="@BUTTON_REGISTER_ON_STORAGE" @onclick="RegisterOnStorage">RegisterOnStorage</button>

        <button data-testid="@BUTTON_REGISTER_ON_FOCUS" @onclick="RegisterOnFocus">RegisterOnFocus</button>
        <button data-testid="@BUTTON_REGISTER_ON_BLUR" @onclick="RegisterOnBlur">RegisterOnBlur</button>
        <button data-testid="@BUTTON_REGISTER_ON_LOAD" @onclick="RegisterOnLoad">RegisterOnLoad</button>
        <button data-testid="@BUTTON_REGISTER_ON_BEFORE_UNLOAD" @onclick="RegisterOnBeforeUnload">RegisterOnBeforeUnload</button>
        <button data-testid="@BUTTON_REGISTER_ON_APP_INSTALLED" @onclick="RegisterOnAppInstalled">RegisterOnAppInstalled</button>
        <button data-testid="@BUTTON_REGISTER_ON_BEFORE_INSTALL_PROMPT" @onclick="RegisterOnBeforeInstallPrompt">RegisterOnBeforeInstallPrompt</button>
        <button data-testid="@BUTTON_REGISTER_ON_MESSAGE" @onclick="RegisterOnMessage">RegisterOnMessage</button>
        <button data-testid="@BUTTON_REGISTER_ON_MESSAGE_ERROR" @onclick="RegisterOnMessageError">RegisterOnMessageError</button>
        <button data-testid="@BUTTON_REGISTER_ON_AFTER_PRINT" @onclick="RegisterOnAfterPrint">RegisterOnAfterPrint</button>
        <button data-testid="@BUTTON_REGISTER_ON_BEFORE_PRINT" @onclick="RegisterOnBeforePrint">RegisterOnBeforePrint</button>
        <button data-testid="@BUTTON_REGISTER_ON_REJECTION_HANDLED" @onclick="RegisterOnRejectionHandled">RegisterOnRejectionHandled</button>
        <button data-testid="@BUTTON_REGISTER_ON_UNHANDLED_REJECTION" @onclick="RegisterOnUnhandledRejection">RegisterOnUnhandledRejection</button>

        @* events - HTMLElement *@
        <button data-testid="@BUTTON_REGISTER_ON_SCROLL" @onclick="RegisterOnScroll">RegisterOnScroll</button>
        <button data-testid="@BUTTON_REGISTER_ON_SCROLL_END" @onclick="RegisterOnScrollEnd">RegisterOnScrollEnd</button>
        <button data-testid="@BUTTON_REGISTER_ON_CHANGE" @onclick="RegisterOnChange">RegisterOnChange</button>

        <button data-testid="@BUTTON_REGISTER_ON_DRAG" @onclick="RegisterOnDrag">RegisterOnDrag</button>
        <button data-testid="@BUTTON_REGISTER_ON_DRAG_START" @onclick="RegisterOnDragStart">RegisterOnDragStart</button>
        <button data-testid="@BUTTON_REGISTER_ON_DRAG_END" @onclick="RegisterOnDragEnd">RegisterOnDragEnd</button>
        <button data-testid="@BUTTON_REGISTER_ON_DRAG_ENTER" @onclick="RegisterOnDragEnter">RegisterOnDragEnter</button>
        <button data-testid="@BUTTON_REGISTER_ON_DRAG_LEAVE" @onclick="RegisterOnDragLeave">RegisterOnDragLeave</button>
        <button data-testid="@BUTTON_REGISTER_ON_DRAG_OVER" @onclick="RegisterOnDragOver">RegisterOnDragOver</button>
        <button data-testid="@BUTTON_REGISTER_ON_DROP" @onclick="RegisterOnDrop">RegisterOnDrop</button>

        <button data-testid="@BUTTON_REGISTER_ON_TOGGLE" @onclick="RegisterOnToggle">RegisterOnToggle</button>
        <button data-testid="@BUTTON_REGISTER_ON_BEFORE_TOGGLE" @onclick="RegisterOnBeforeToggle">RegisterOnBeforeToggle</button>

        @* events - Element *@
        <button data-testid="@BUTTON_REGISTER_ON_INPUT" @onclick="RegisterOnInput">RegisterOnInput</button>
        <button data-testid="@BUTTON_REGISTER_ON_BEFORE_INPUT" @onclick="RegisterOnBeforeInput">RegisterOnBeforeInput</button>
        <button data-testid="@BUTTON_REGISTER_ON_BEFORE_MATCH" @onclick="RegisterOnBeforeMatch">RegisterOnBeforeMatch</button>

        <button data-testid="@BUTTON_REGISTER_ON_KEY_DOWN" @onclick="RegisterOnKeyDown">RegisterOnKeyDown</button>
        <button data-testid="@BUTTON_REGISTER_ON_KEY_UP" @onclick="RegisterOnKeyUp">RegisterOnKeyUp</button>

        <button data-testid="@BUTTON_REGISTER_ON_CLICK" @onclick="RegisterOnClick">RegisterOnClick</button>
        <button data-testid="@BUTTON_REGISTER_ON_DBL_CLICK" @onclick="RegisterOnDblClick">RegisterOnDblClick</button>
        <button data-testid="@BUTTON_REGISTER_ON_AUX_CLICK" @onclick="RegisterOnAuxClick">RegisterOnAuxClick</button>
        <button data-testid="@BUTTON_REGISTER_ON_CONTEXT_MENU" @onclick="RegisterOnContextMenu">RegisterOnContextMenu</button>
        <button data-testid="@BUTTON_REGISTER_ON_MOUSE_DOWN" @onclick="RegisterOnMouseDown">RegisterOnMouseDown</button>
        <button data-testid="@BUTTON_REGISTER_ON_MOUSE_UP" @onclick="RegisterOnMouseUp">RegisterOnMouseUp</button>
        <button data-testid="@BUTTON_REGISTER_ON_WHEEL" @onclick="RegisterOnWheel">RegisterOnWheel</button>
        <button data-testid="@BUTTON_REGISTER_ON_MOUSE_MOVE" @onclick="RegisterOnMouseMove">RegisterOnMouseMove</button>
        <button data-testid="@BUTTON_REGISTER_ON_MOUSE_OVER" @onclick="RegisterOnMouseOver">RegisterOnMouseOver</button>
        <button data-testid="@BUTTON_REGISTER_ON_MOUSE_OUT" @onclick="RegisterOnMouseOut">RegisterOnMouseOut</button>
        <button data-testid="@BUTTON_REGISTER_ON_MOUSE_ENTER" @onclick="RegisterOnMouseEnter">RegisterOnMouseEnter</button>
        <button data-testid="@BUTTON_REGISTER_ON_MOUSE_LEAVE" @onclick="RegisterOnMouseLeave">RegisterOnMouseLeave</button>

        <button data-testid="@BUTTON_REGISTER_ON_TOUCH_START" @onclick="RegisterOnTouchStart">RegisterOnTouchStart</button>
        <button data-testid="@BUTTON_REGISTER_ON_TOUCH_END" @onclick="RegisterOnTouchEnd">RegisterOnTouchEnd</button>
        <button data-testid="@BUTTON_REGISTER_ON_TOUCH_MOVE" @onclick="RegisterOnTouchMove">RegisterOnTouchMove</button>
        <button data-testid="@BUTTON_REGISTER_ON_TOUCH_CANCEL" @onclick="RegisterOnTouchCancel">RegisterOnTouchCancel</button>

        <button data-testid="@BUTTON_REGISTER_ON_POINTER_DOWN" @onclick="RegisterOnPointerDown">RegisterOnPointerDown</button>
        <button data-testid="@BUTTON_REGISTER_ON_POINTER_UP" @onclick="RegisterOnPointerUp">RegisterOnPointerUp</button>
        <button data-testid="@BUTTON_REGISTER_ON_POINTER_MOVE" @onclick="RegisterOnPointerMove">RegisterOnPointerMove</button>
        <button data-testid="@BUTTON_REGISTER_ON_POINTER_OVER" @onclick="RegisterOnPointerOver">RegisterOnPointerOver</button>
        <button data-testid="@BUTTON_REGISTER_ON_POINTER_OUT" @onclick="RegisterOnPointerOut">RegisterOnPointerOut</button>
        <button data-testid="@BUTTON_REGISTER_ON_POINTER_ENTER" @onclick="RegisterOnPointerEnter">RegisterOnPointerEnter</button>
        <button data-testid="@BUTTON_REGISTER_ON_POINTER_LEAVE" @onclick="RegisterOnPointerLeave">RegisterOnPointerLeave</button>
        <button data-testid="@BUTTON_REGISTER_ON_POINTER_CANCEL" @onclick="RegisterOnPointerCancel">RegisterOnPointerCancel</button>
        <button data-testid="@BUTTON_REGISTER_ON_POINTER_RAW_UPDATE" @onclick="RegisterOnPointerRawUpdate">RegisterOnPointerRawUpdate</button>
        <button data-testid="@BUTTON_REGISTER_ON_GOT_POINTER_CAPTURE" @onclick="RegisterOnGotPointerCapture">RegisterOnGotPointerCapture</button>
        <button data-testid="@BUTTON_REGISTER_ON_LOST_POINTER_CAPTURE" @onclick="RegisterOnLostPointerCapture">RegisterOnLostPointerCapture</button>

        <button data-testid="@BUTTON_REGISTER_ON_FOCUS_IN" @onclick="RegisterOnFocusIn">RegisterOnFocusIn</button>
        <button data-testid="@BUTTON_REGISTER_ON_FOCUS_OUT" @onclick="RegisterOnFocusOut">RegisterOnFocusOut</button>

        <button data-testid="@BUTTON_REGISTER_ON_COPY" @onclick="RegisterOnCopy">RegisterOnCopy</button>
        <button data-testid="@BUTTON_REGISTER_ON_PASTE" @onclick="RegisterOnPaste">RegisterOnPaste</button>
        <button data-testid="@BUTTON_REGISTER_ON_CUT" @onclick="RegisterOnCut">RegisterOnCut</button>

        <button data-testid="@BUTTON_REGISTER_ON_TRANSITION_START" @onclick="RegisterOnTransitionStart">RegisterOnTransitionStart</button>
        <button data-testid="@BUTTON_REGISTER_ON_TRANSITION_END" @onclick="RegisterOnTransitionEnd">RegisterOnTransitionEnd</button>
        <button data-testid="@BUTTON_REGISTER_ON_TRANSITION_RUN" @onclick="RegisterOnTransitionRun">RegisterOnTransitionRun</button>
        <button data-testid="@BUTTON_REGISTER_ON_TRANSITION_CANCEL" @onclick="RegisterOnTransitionCancel">RegisterOnTransitionCancel</button>

        <button data-testid="@BUTTON_REGISTER_ON_ANIMATION_START" @onclick="RegisterOnAnimationStart">RegisterOnAnimationStart</button>
        <button data-testid="@BUTTON_REGISTER_ON_ANIMATION_END" @onclick="RegisterOnAnimationEnd">RegisterOnAnimationEnd</button>
        <button data-testid="@BUTTON_REGISTER_ON_ANIMATION_ITERATION" @onclick="RegisterOnAnimationIteration">RegisterOnAnimationIteration</button>
        <button data-testid="@BUTTON_REGISTER_ON_ANIMATION_CANCEL" @onclick="RegisterOnAnimationCancel">RegisterOnAnimationCancel</button>

        @* events - HTMLMediaElement Ready *@
        <button data-testid="@BUTTON_REGISTER_ON_CAN_PLAY" @onclick="RegisterOnCanPlay">RegisterOnCanPlay</button>
        <button data-testid="@BUTTON_REGISTER_ON_CAN_PLAY_THROUGH" @onclick="RegisterOnCanPlayThrough">RegisterOnCanPlayThrough</button>
        <button data-testid="@BUTTON_REGISTER_ON_PLAYING" @onclick="RegisterOnPlaying">RegisterOnPlaying</button>
        @* events - HTMLMediaElement Data *@
        <button data-testid="@BUTTON_REGISTER_ON_LOAD_START" @onclick="RegisterOnLoadStart">RegisterOnLoadStart</button>
        <button data-testid="@BUTTON_REGISTER_ON_PROGRESS" @onclick="RegisterOnProgress">RegisterOnProgress</button>
        <button data-testid="@BUTTON_REGISTER_ON_LOADED_DATA" @onclick="RegisterOnLoadedData">RegisterOnLoadedData</button>
        <button data-testid="@BUTTON_REGISTER_ON_LOADED_METADATA" @onclick="RegisterOnLoadedMetadata">RegisterOnLoadedMetadata</button>
        <button data-testid="@BUTTON_REGISTER_ON_STALLED" @onclick="RegisterOnStalled">RegisterOnStalled</button>
        <button data-testid="@BUTTON_REGISTER_ON_SUSPEND" @onclick="RegisterOnSuspend">RegisterOnSuspend</button>
        <button data-testid="@BUTTON_REGISTER_ON_WAITING" @onclick="RegisterOnWaiting">RegisterOnWaiting</button>
        <button data-testid="@BUTTON_REGISTER_ON_ABORT" @onclick="RegisterOnAbort">RegisterOnAbort</button>
        <button data-testid="@BUTTON_REGISTER_ON_EMPTIED" @onclick="RegisterOnEmptied">RegisterOnEmptied</button>
        @* events - HTMLMediaElement Timing *@
        <button data-testid="@BUTTON_REGISTER_ON_PLAY" @onclick="RegisterOnPlay">RegisterOnPlay</button>
        <button data-testid="@BUTTON_REGISTER_ON_PAUSE" @onclick="RegisterOnPause">RegisterOnPause</button>
        <button data-testid="@BUTTON_REGISTER_ON_ENDED" @onclick="RegisterOnEnded">RegisterOnEnded</button>
        <button data-testid="@BUTTON_REGISTER_ON_SEEKING" @onclick="RegisterOnSeeking">RegisterOnSeeking</button>
        <button data-testid="@BUTTON_REGISTER_ON_SEEKED" @onclick="RegisterOnSeeked">RegisterOnSeeked</button>
        <button data-testid="@BUTTON_REGISTER_ON_TIME_UPDATE" @onclick="RegisterOnTimeUpdate">RegisterOnTimeUpdate</button>
        @* events - HTMLMediaElement Setting *@
        <button data-testid="@BUTTON_REGISTER_ON_VOLUME_CHANGE" @onclick="RegisterOnVolumeChange">RegisterOnVolumeChange</button>
        <button data-testid="@BUTTON_REGISTER_ON_RATE_CHANGE" @onclick="RegisterOnRateChange">RegisterOnRateChange</button>
        <button data-testid="@BUTTON_REGISTER_ON_DURATION_CHANGE" @onclick="RegisterOnDurationChange">RegisterOnDurationChange</button>

        @* events - HTMLDialogElement *@
        <button data-testid="@BUTTON_REGISTER_ON_CLOSE" @onclick="RegisterOnClose">RegisterOnClose</button>
        <button data-testid="@BUTTON_REGISTER_ON_CANCEL" @onclick="RegisterOnCancel">RegisterOnCancel</button>
    </div>
    <label data-testid="@LABEL_OUTPUT">@labelOutput</label>
</div>
