@namespace BrowserAPI.Test.Client

<div class="group">
    <h2>Window</h2>
    <div>
        @* Properties *@

        <button data-testid="@BUTTON_GET_INNER_WIDTH_PROPERTY" @onclick="GetInnerWidth_Property">GetInnerWidth_Property</button>
        <button data-testid="@BUTTON_GET_INNER_WIDTH_METHOD" @onclick="GetInnerWidth_Method">GetInnerWidth_Method</button>
        <button data-testid="@BUTTON_GET_INNER_HEIGHT_PROPERTY" @onclick="GetInnerHeight_Property">GetInnerHeight_Property</button>
        <button data-testid="@BUTTON_GET_INNER_HEIGHT_METHOD" @onclick="GetInnerHeight_Method">GetInnerHeight_Method</button>
        <button data-testid="@BUTTON_GET_OUTER_WIDTH_PROPERTY" @onclick="GetOuterWidth_Property">GetOuterWidth_Property</button>
        <button data-testid="@BUTTON_GET_OUTER_WIDTH_METHOD" @onclick="GetOuterWidth_Method">GetOuterWidth_Method</button>
        <button data-testid="@BUTTON_GET_OUTER_HEIGHT_PROPERTY" @onclick="GetOuterHeight_Property">GetOuterHeight_Property</button>
        <button data-testid="@BUTTON_GET_OUTER_HEIGHT_METHOD" @onclick="GetOuterHeight_Method">GetOuterHeight_Method</button>
        <button data-testid="@BUTTON_GET_DEVICE_PIXEL_RATIO_PROPERTY" @onclick="GetDevicePixelRatio_Property">GetDevicePixelRatio_Property</button>
        <button data-testid="@BUTTON_GET_DEVICE_PIXEL_RATIO_METHOD" @onclick="GetDevicePixelRatio_Method">GetDevicePixelRatio_Method</button>

        <button data-testid="@BUTTON_GET_SCROLL_X_PROPERTY" @onclick="GetScrollX_Property">GetScrollX_Property</button>
        <button data-testid="@BUTTON_GET_SCROLL_X_METHOD" @onclick="GetScrollX_Method">GetScrollX_Method</button>
        <button data-testid="@BUTTON_GET_SCROLL_Y_PROPERTY" @onclick="GetScrollY_Property">GetScrollY_Property</button>
        <button data-testid="@BUTTON_GET_SCROLL_Y_METHOD" @onclick="GetScrollY_Method">GetScrollY_Method</button>
        <button data-testid="@BUTTON_GET_SCREEN_X_PROPERTY" @onclick="GetScreenX_Property">GetScreenX_Property</button>
        <button data-testid="@BUTTON_GET_SCREEN_X_METHOD" @onclick="GetScreenX_Method">GetScreenX_Method</button>
        <button data-testid="@BUTTON_GET_SCREEN_Y_PROPERTY" @onclick="GetScreenY_Property">GetScreenY_Property</button>
        <button data-testid="@BUTTON_GET_SCREEN_Y_METHOD" @onclick="GetScreenY_Method">GetScreenY_Method</button>

        <button data-testid="@BUTTON_GET_ORIGIN_PROPERTY" @onclick="GetOrigin_Property">GetOrigin_Property</button>
        <button data-testid="@BUTTON_GET_ORIGIN_METHOD" @onclick="GetOrigin_Method">GetOrigin_Method</button>
        <button data-testid="@BUTTON_GET_NAME_PROPERTY" @onclick="GetName_Property">GetName_Property</button>
        <button data-testid="@BUTTON_GET_NAME_METHOD" @onclick="GetName_Method">GetName_Method</button>
        <button data-testid="@BUTTON_SET_NAME" @onclick="SetName">SetName</button>

        <button data-testid="@BUTTON_GET_CLOSED_PROPERTY" @onclick="GetClosed_Property">GetClosed_Property</button>
        <button data-testid="@BUTTON_GET_CLOSED_METHOD" @onclick="GetClosed_Method">GetClosed_Method</button>
        <button data-testid="@BUTTON_GET_CREDENTIALLESS_PROPERTY" @onclick="GetCredentialless_Property">GetCredentialless_Property</button>
        <button data-testid="@BUTTON_GET_CREDENTIALLESS_METHOD" @onclick="GetCredentialless_Method">GetCredentialless_Method</button>
        <button data-testid="@BUTTON_GET_CROSS_ORIGIN_ISOLATED_PROPERTY" @onclick="GetCrossOriginIsolated_Property">GetCrossOriginIsolated_Property</button>
        <button data-testid="@BUTTON_GET_CROSS_ORIGIN_ISOLATED_METHOD" @onclick="GetCrossOriginIsolated_Method">GetCrossOriginIsolated_Method</button>
        <button data-testid="@BUTTON_GET_IS_SECURE_CONTEXT_PROPERTY" @onclick="GetIsSecureContext_Property">GetIsSecureContext_Property</button>
        <button data-testid="@BUTTON_GET_IS_SECURE_CONTEXT_METHOD" @onclick="GetIsSecureContext_Method">GetIsSecureContext_Method</button>
        <button data-testid="@BUTTON_GET_ORIGIN_AGENT_CLUSTER_PROPERTY" @onclick="GetOriginAgentCluster_Property">GetOriginAgentCluster_Property</button>
        <button data-testid="@BUTTON_GET_ORIGIN_AGENT_CLUSTER_METHOD" @onclick="GetOriginAgentCluster_Method">GetOriginAgentCluster_Method</button>
        <button data-testid="@BUTTON_GET_MENUBAR_PROPERTY" @onclick="GetMenubar_Property">GetMenubar_Property</button>
        <button data-testid="@BUTTON_GET_MENUBAR_METHOD" @onclick="GetMenubar_Method">GetMenubar_Method</button>

        <button data-testid="@BUTTON_GET_FRAME_ELEMENT_PROPERTY" @onclick="GetFrameElement_Property">GetFrameElement_Property</button>
        <button data-testid="@BUTTON_GET_FRAME_ELEMENT_METHOD" @onclick="GetFrameElement_Method">GetFrameElement_Method</button>
    </div>
    <label data-testid="@LABEL_OUTPUT">@labelOutput</label>
</div>

